{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You are not eligible
      </h1>
      <p>You are not eligible to apply to get qualified teacher status (QTS) in England because you do not have a degree.</p>
      <p>Teaching is viewed in England as a graduate profession.</p>
      <p>The requirement for QTS is for any undergraduate degree, equivalent to a UK bachelor level degree.</p>
      <p>Find out how you can train to become a teacher in England if you don’t yet have a degree <a href="https://getintoteaching.education.gov.uk/ways-to-train#if-you-do-not-have-a-degree">here</a></p>
    </div>
  </div>

{% endblock %}
