{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-xl">Radio Button question</h1> -->

      <form class="form" action="/completed-year-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "completed-year",
          name: "completed-year",
          fieldset: {
            legend: {
              text: "Do you have experience working as a qualified teacher?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You will need a minimum of 1 year working in a classroom, teaching groups of at least 4 children between the ages of 5 and 16. Your experience can be gained in any type of school (for example, international, state, private or specialist provision)."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("completed-year", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("completed-year", "No")
            }
            
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
