{% extends "layout.html" %} {% block pageTitle %} Start page with step by step template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script>
{% endblock %} {% block beforeContent %}
<div class="app-step-nav-header">
  <span class="app-step-nav-header__part-of">Part of</span>
  <a class="app-step-nav-header__title" href="step-by-step-navigation.html">
    Get qualified teacher status: step by step
  </a>
</div>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check your eligibility
    </h1>

    <p>To get qualified teacher status (QTS) you will need to prove that you trained and qualified at a similar level to teachers that trained in England.</p>
    
    <h2 class="govuk-heading-l">You will need</h2>

    <h2 class="govuk-heading-m">A degree</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li> Any undergraduate degree that is equivalent to a UK Bachelor's degree</li>
      <li>this can be a teaching degree or a degree in any other subject</li>
      </ul>

      <h2 class="govuk-heading-m">A teacher training qualification</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li> This should be similar in academic level and length to initial teacher training (ITT) in England</li>
        <li> Most teachers in England will have completed a 1 year postgraduate teaching qualification or a minimum 3 year dedicated teaching degree</li>
        <li> Undergraduate degrees that combine teaching and other subjects might be eligible if you are able to prove that it had significant practical time in classrooms</li>
        <li> You should be qualified to teach children between the ages of 5 -16</li>
        </ul>

        <h2 class="govuk-heading-m">At least one school year of teaching experience after you qualified</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li> The majority of this time should have been spent teaching groups of at least 4 children </li>
          <li> Your experience must have been gained  with children aged between 5-16</li>
          <li> Experience in any type of mainstream school is acceptable (for example, international schools, schools teaching the International Baccalaureate and state or private schools)</li>
          <li> Your experience could also have been in alternative schools or settings equivalent to English PRUs (Pupil Referral Units), alternative provision academies, or alternative provision free schools; or settings for children with special education needs or disabilities (SEND)</li>
          </ul>

          <h2 class="govuk-heading-m">Professional status as a teacher</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li> You must be able to prove that you are recognised as a teacher in the country where you qualified</li>
            <li> You must have fully met the requirements of that country and have not had your teaching practice restricted in any way</li>
            </ul>

            <h2 class="govuk-heading-m">Knowledge of English</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li> You can prove your knowledge of English to at least level B2 by having a recognised English test qualification from an approved test centre</li>
              <li> You will not need to prove your knowledge of English if you have a degree that was taught or researched in English</li>
              <li> You will not need to prove your knowledge of English if you’re a citizen of Antigua and Barbuda, Australia, The Bahamas, Barbados, Belize, Canada, Dominica, Grenada, Guyana, Jamaica, Ireland, Malta, New Zealand, St Kitts and Nevis, St Lucia, St Vincent and the Grenadines, Trinidad and Tobago or USA</li>
              </ul>

              <h2 class="govuk-heading-m">Maths proficiency</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li> Youmust be able to demonstrate that you have a proficiency in maths equivalent to a GCSE grade 'C' or Level 4 in UK</li>
                </ul>

              <h2 class="govuk-heading-m">Primary teachers - science knowledge</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li> If you are a primary teacher, you must be able to demonstrate that you have science qualifications equivalent to a GCSE grade 'C' or Level 4 in UK</li>
                </ul>

    <a href="documents-you-will-need.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Continue
    </a>
    
  </div>

  <div class="govuk-grid-column-one-third">

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Part of</span>
        <a href="step-by-step-navigation.html">
          Get qualified teacher status: step by step
        </a>
      </h2>
    </div>

    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive" >
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Eligibility for QTS
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">Some helpful text here</p>

            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.1" class="app-step-nav__link js-link" href="check-your-eligibility.html">Check your eligibility </a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Prepare your documents
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">Some helpful text here</p>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.1" class="app-step-nav__link js-link" href="documents-you-will-need.html">Documents you will need </a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Make an application
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">Some helpful text here</p>

            <ol class="app-step-nav__list " data-length="4">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.1" class="app-step-nav__link js-link" href="apply-for-qts.html">Apply for QTS</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                After applying for QTS
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">Some helpful text here</p>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-prepare-for-your-theory-test-4">
            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="4.1" class="app-step-nav__link js-link" href="#">?</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test" >
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 5
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Help and support
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
            <p class="app-step-nav__paragraph">Some helpful text here </p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.1" class="app-step-nav__link js-link" href="#">Help link </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.1" class="app-step-nav__link js-link" href="#">Help link </a>
              </li>
            </ol>
          </div>

        </li>


      </ol>
    </div>


  </div>

</div>


</div>
</div>
{% endblock %}
