{% extends "layout.html" %} {% block pageTitle %} Start page with step by step template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script>
{% endblock %} {% block beforeContent %}
<div class="app-step-nav-header">
  <span class="app-step-nav-header__part-of">Part of</span>
  <a class="app-step-nav-header__title" href="step-by-step-navigation.html">
    Get qualified teacher status
  </a>
</div>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check your eligibility
    </h1>

    <p>We’ll ask you to prove you trained and qualified at a similar level to teachers trained in England.</p>
    <p>To get help with eligibility, email us at email@digital.education.gov.uk</p>
    
    <h2 class="govuk-heading-l">You will need</h2>

    <h2 class="govuk-heading-m">A degree</h2>
    <p>Your degree can be in any subject, but it must be equivalent to a UK bachelor's degree. Contact UK ENIC to check the status of your degree in the UK</p>

    <h2 class="govuk-heading-m">A teacher training qualification</h2>
    <p>Your teacher training needs to be of a similar standard to teacher training in England. This usually means a 3-year undergraduate teaching degree, or a 1-year postgraduate teacher training course.</p>
    <p>Your training should include substantial practical experience in the classroom. You must be qualified to teach all children aged between 5 and 16 (not just those with special educational needs or disabilities). </p>

    <h2 class="govuk-heading-m">At least one school year of teaching experience after you qualified</h2>
    <p>You will need a minimum of 1 year working in a classroom, teaching groups of at least 4 children between the ages of 5 and 16.</p>
    <p>Your experience can be gained in any type of school (for example, international, state, private or specialist provision).</p>

    <h2 class="govuk-heading-m">Professional status as a teacher</h2>
    <p>You must be able to prove that you enjoy a professional status as a fully qualified teacher in the country where you trained. </p>
    <p>You must have no restrictions on your teaching practice and a clean employment record as a teacher. </p>

    <h2 class="govuk-heading-m">Knowledge of English</h2>
    <p>Your English language skills must meet British Council level B2, or IELTS 5.5 to 6.5.</p>
    <p>You will not need to prove your English language skills if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li> your degree was taught or researched in English</li>
      <li>you are a citizen of:</li>
      <ul class="govuk-list govuk-list--bullet">
        <li>Antigua and Barbuda
        <li>Australia</li>
        <li>The Bahamas</li>
        <li>Barbados</li>
        <li>Belize</li>
        <li>Canada</li>
        <li>Dominica</li>
        <li>Grenada</li>
        <li>Guyana</li>
        <li>Ireland</li>
        <li>Jamaica</li>
        <li>Malta</li>
        <li>New Zealand</li>
        <li>St Kitts and Nevis</li>
        <li>St Lucia</li>
        <li>St Vincent and the Grenadines</li>
        <li>Trinidad and Tobago</li>
        <li>USA</li>
        </li>
        </ul>
      </ul>
      <p>If you do need to prove your knowledge of English, you can sit a secure English language test with an approved test provider.</p>

    <h2 class="govuk-heading-m">Knowledge of Maths</h2>
    <p> Your knowledge of maths must meet a standard equivalent to a UK grade 4 GCSE. </p>
    <p>A GCSE (General Certificate of Secondary Education) is an academic qualification awarded for exams in England, usually taken at age 16. For help understanding UK qualifications and their international equivalents, contact UK ENIC. </p>

    <h2 class="govuk-heading-m">Knowledge of science (to teach ages 5 to 11 only)</h2>
    <p>To apply for QTS to teach primary school age children (aged 5 to 11), your knowledge of science (physics, chemistry, biology or a combination of these subjects) must meet a standard equivalent to a UK grade 4 GCSE.</p>
    <p>A GCSE (General Certificate of Secondary Education) is an academic qualification awarded for exams in England, usually taken at age 16. For help understanding UK qualifications and their international equivalents, contact UK ENIC.</p>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Part of</span>
        <a href="step-by-step-navigation.html">
          Get qualified teacher status
        </a>
      </h2>
    </div>

    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive" >
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Eligibility for QTS
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">Learn more about the qualifications, experience and professional status you'll need to apply.</p>

            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.1" class="app-step-nav__link js-link" href="check-your-eligibility.html">Check your eligibility </a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Prepare your paperwork
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">See a list of the documents we'll need to support your application.</p>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.1" class="app-step-nav__link js-link" href="documents-you-will-need.html">Documents you will need </a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Apply for qualified teacher stauts
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">We'll guide you through this process.</p>

            <ol class="app-step-nav__list " data-length="4">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.1" class="app-step-nav__link js-link" href="#">Apply for QTS</a>
              </li>
            </ol>
          </div>

        </li>

      </ol>
    </div>


  </div>

</div>


</div>
</div>
{% endblock %}
