{% extends "layout.html" %} {% block pageTitle %} Start page with step by step template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script>
{% endblock %} {% block beforeContent %}
<div class="app-step-nav-header">
  <span class="app-step-nav-header__part-of">Part of</span>
  <a class="app-step-nav-header__title" href="step-by-step-navigation.html">
    Get qualified teacher status
  </a>
</div>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Documents you will need
    </h1>

    <p>Before you apply, you will need to prepare some evidence.</p> 
    <p> When you apply, you will need to upload scans or photos of your original documents in .pdf, .jpg and .jpeg formats.</p>

    <p class="govuk-!-font-weight-bold">If your documents are not in English you’ll also need to provide a certified translation of each.</p>
    
    <h2 class="govuk-heading-l">You will need</h2>


    <h2 class="govuk-heading-m">Qualifications</h2>
    <p>You must provide one of the following:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li> Degree certificate from the awarding university or institution</li>
      <li>Official teacher training certificate from the awarding body. This is not required if your teacher training was completed as part of your degree</li>
      <li>A transcript or diploma supplement of the qualification that led you to be a recognised teacher. This should be issued by the awarding body and show all the modules you studied and the marks you got for each. If your teacher training was completed as part of your degree, you should supply your degree transcript.</li>
      </ul>

    <h2 class="govuk-heading-m">Identity</h2>
    <p>You must provide one of the following:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li> A passport, national identity card or driving licence that shows your date of birth and nationality. This must be valid and have not expired. </li>
      <li> If the name on your identity documents is different from that on your other documents, evidence of your name change (such as a divorce certificate or name change deed)</li>
    </ul>


    <h2 class="govuk-heading-m">Professional standing as a teacher</h2>
    <p>You will need to provide proof that you are recognised as a teacher by the competent education or teaching department, ministry or authority in the country or territory where you qualified. This must show that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li> You have completed a course of initial teacher training (ITT) which is recognised by the competent authority in that country or territory.</li>
          <li> You have successfully completed any period of professional experience comparable to an induction period.</li>
          <li> Your authorisation to teach in the country or territory has never been suspended, barred, cancelled, revoked or restricted and that you have no sanctions against you. </li>
        </ul>
      <p>Ways to prove professional standing:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Online register: If your competent education department or authority has an online register of teachers, you will need to provide us with any reference numbers that we will need to check your record</li>
        <li>A written statement: the competent authority or territory that recognises you as a teacher must confirm any of the details above that are not available online in writing. This written confirmation must be dated within three months of you applying for QTS.</li>
        <p>this written statement may also be known as a letter of professional standing, a letter of confirmation, letter of reference, confirmation of tenure or a teaching licence.</p>
      </ul>

      <h2 class="govuk-heading-m">Knowledge of English</h2>
      <p>You will need to provide one of the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li> Proof that your degree was taught in English (for example a ENIC-UK Statement of Comparability for Degree - confirming English language content, or a medium of instruction letter)</li>
          <li> Proof of undertaking a Secure English Language Test (SELT) at least level B2 on the Common European Framework of Reference for Languages (CEFR) scale. This test must be carried out by one of the Home Office approved test centres. Your test result can later be used if you need to seek the right to work in the UK.</li>
          <p class="govuk-!-font-weight-bold">Exceptions</p>
          <li> You will not need to provide proof of your knowledge of English if you are a citizen of of Antigua and Barbuda, Australia, The Bahamas, Barbados, Belize, Canada, Dominica, Grenada, Guyana, Jamaica, Ireland, Malta, New Zealand, St Kitts and Nevis, St Lucia, St Vincent and the Grenadines, Trinidad and Tobago or USA </li>
          <li>You will not need to provide proof of your knowledge of English if your degree or teaching qualification was completed in one of the above countries</li>
        </ul>


      <h2 class="govuk-heading-m">Work experience references</h2>
          <p>You will need to provide a reference letter from a senior staff member at a school where you have taught confirming that you have worked as a teacher for 1 year or more since you qualified. The letter should confirm the size, subject and age range of the classes you have taught, and the dates you worked there.</p>


        <h2 class="govuk-heading-m">School level maths</h2>
        <p>You must demonstrate that you have a level of maths proficiency that is equivalent to at least a GCSE in maths at level 4. For example, this could be your degree, or a school leaving certificate that shows the subjects you studied.</p>
        <p>GCSEs are completed at the end of compulsory education in England (at age 16).</p>

      <h2 class="govuk-heading-m">Primary teachers only - school level science</h2>
      <p>You must demonstrate that you have a level of science knowledge that is equivalent to at least a GCSE in science at level 4. For example, this could be your degree, or a school leaving certificate that shows the subjects you studied.</p>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Part of</span>
        <a href="step-by-step-navigation.html">
          Get qualified teacher status
        </a>
      </h2>
    </div>

    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive" >
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Eligibility for QTS
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">Learn more about the qualifications, experience and professional status you'll need to apply.</p>

            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.1" class="app-step-nav__link js-link" href="check-your-eligibility.html">Check your eligibility </a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Prepare your paperwork
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">See a list of the documents we'll need to support your application.</p>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.1" class="app-step-nav__link js-link" href="documents-you-will-need.html">Documents you will need </a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Apply for qualified teacher status
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">We'll guide you through this process.</p>

            <ol class="app-step-nav__list " data-length="4">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.1" class="app-step-nav__link js-link" href="#">Apply for QTS</a>
              </li>
            </ol>
          </div>

        </li>

      </ol>
    </div>


  </div>

</div>


</div>
</div>
{% endblock %}
