{% extends "layout.html" %}

{% block pageTitle %}
	Work history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageStyles %}
<link href="/public/govuk-country-and-territory-autocomplete/location-autocomplete.min.css" media="screen"
      rel="stylesheet">
{% endblock %}

{% block pageScripts %}
<script src="/public/govuk-country-and-territory-autocomplete/location-autocomplete.min.js"></script>
<script>
    openregisterLocationPicker({
        selectElement: document.getElementById('school-country'),
        url: '/public/govuk-country-and-territory-autocomplete/location-autocomplete-graph.json',
        defaultValue: '{{ data["school-country"] }}'
    })
</script>
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form class="form" action="work-history-in-education-1-referee" method="post">
			<h1 class="govuk-heading-l">Add your current or most recent role</h1>
			<p class="govuk-body">Tell us about the teaching roles you’ve held since completing your teaching qualification.</p>
			<p class="govuk-body">Every role you add must meet <strong class="govuk-!-font-weight-bold">ALL</strong> of the following requirements.</p>
			<ul class="govuk-list govuk-list--bullet">
                <li>You were qualified to teach before starting the role.</li>
				<li>You worked unsupervised with children aged between 5 and 16 years.</li>
				<li>You were solely responsible for planning, preparing and delivering lessons to at least 4 students at a time.</li>
				<li>You were solely responsible for assessing and reporting on the progress of those students.</li>
			</ul>
			<p class="govuk-body">We cannot consider any teaching roles that do not meet ALL of these requirements.</p>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="role-1-meets-requirements-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h2 class="govuk-fieldset__heading govuk-visually-hidden">
							Does this role meet ALL these requirements
						</h2>
					</legend>
					<div class="govuk-checkboxes" data-module="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="role-1-meets-requirements" name="role-1-meets-requirements" type="checkbox" value="true">
							<label class="govuk-label govuk-checkboxes__label govuk-label--s" for="role-1-meets-requirements">
								The role I’m about to add meets ALL of these requirements.
							</label>
						</div>
					</div>
				</fieldset>
			</div>

			<p class="govuk-body"><a href="work-history-rejection" class="govuk-link govuk-link--no-visited-state">I do not have any roles that meet all of these requirements</a>.</p>


			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-fieldset__heading">
						Where was the role?
					</h1>
				</legend>

			<div class="govuk-form-group">
				<label class="govuk-label" for="school-name">
					Name of school
				</label>
				<input class="govuk-input" id="school-name" name="school-name" value="{{ data['school-name'] }}"
				       type="text">
			</div>

			<div class="govuk-form-group">
				<label class="govuk-label" for="school-city">
					City
				</label>
				<input class="govuk-input" id="school-city" name="school-city" value="{{ data['school-city'] }}"
				       type="text">
			</div>

			{% from "govuk/components/select/macro.njk" import govukSelect %}

			{{ govukSelect({
			id: "school-country",
			name: "school-country",
			classes: "govuk-input--width-10",
			label: {
			classes: "govuk-label--s, govuk-!-font-weight-regular",
			isPageHeading: true,
			text: "Country"
			},
			items: countries
			}) }}

			</fieldset>

			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--m" for="job-role">
					What was the job title or role?
				</label>
				<input class="govuk-input" id="job-role" name="job-role" value="{{ data['job-role'] }}" type="text">
			</div>

			<div class="govuk-form-group">
				<h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="role-1-weekly-hours">
					Approximately how many hours per week did you work in this role?
				</label>
				</h3>
				<div id="role-1-weekly-hours-hint" class="govuk-hint">
                    This means all the hours you spent working per week for this role (not just the hours you spent teaching students). In roles where you worked under 30 hours per week we may need to ask for more information when we assess your application.
				</div>
				<input class="govuk-input govuk-input--width-2" id="role-1-weekly-hours" name="role-1-weekly-hours" type="text" spellcheck="false" aria-describedby="role-1-weekly-hours-hint" inputmode="numeric">
			</div>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h4 class="govuk-fieldset__heading">
							When did you start this role?
						</h4>
					</legend>
					<div id="start-date-hint" class="govuk-hint">
						For example, 3 2020, If you cannot remember the exact month or year, enter an estimate.
					</div>
					<div class="govuk-date-input" id="start-date">
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="start-date-month">
									Month
								</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2"
								       id="start-date-month" name="start-date-month"
								       value="{{ data['start-date-month'] }}" type="text" inputmode="numeric">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="start-date-year">
									Year
								</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-4"
								       id="start-date-year" name="start-date-year" value="{{ data['start-date-year'] }}"
								       type="text" inputmode="numeric">
							</div>
						</div>
					</div>

				</fieldset>
			</div>

			<div class="govuk-form-group">
				<div class="govuk-checkboxes__item">
					<input class="govuk-checkboxes__input" id="start-date-estimate" name="start-date-estimate"
					       type="checkbox" value="estimated">
					<label class="govuk-label govuk-checkboxes__label" for="start-date-estimate">
						This is an estimate
					</label>
				</div>
			</div>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="still-at-school-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h5 class="govuk-fieldset__heading">
							Are you still employed at this school?
						</h5>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="still-at-school" name="still-at-school" type="radio"
							       value="still-at-school-yes" data-aria-controls="conditional-still-at-school">
							<label class="govuk-label govuk-radios__label" for="still-at-school">
								Yes
							</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="still-at-school-2" name="still-at-school"
							       type="radio" value="still-at-school-no"
							       data-aria-controls="conditional-still-at-school-2">
							<label class="govuk-label govuk-radios__label" for="still-at-school-2">
								No
							</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
						     id="conditional-still-at-school-2">
							<div class="govuk-form-group">
								<fieldset class="govuk-fieldset" role="group" aria-describedby="end-date-hint">
									<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
										<h6 class="govuk-fieldset__heading">
											Your end date
										</h6>
									</legend>
									<div id="end-date-hint" class="govuk-hint">
										For example, 3 2020, If you cannot remember the exact month or year, enter an
										estimate.
									</div>
									<div class="govuk-date-input" id="end-date">
										<div class="govuk-date-input__item">
											<div class="govuk-form-group">
												<label class="govuk-label govuk-date-input__label" for="end-date-month">
													Month
												</label>
												<input class="govuk-input govuk-date-input__input govuk-input--width-2"
												       id="end-date-month" name="end-date-month"
												       value="{{ data['end-date-month'] }}" type="text"
												       inputmode="numeric">
											</div>
										</div>
										<div class="govuk-date-input__item">
											<div class="govuk-form-group">
												<label class="govuk-label govuk-date-input__label" for="end-date-year">
													Year
												</label>
												<input class="govuk-input govuk-date-input__input govuk-input--width-4"
												       id="end-date-year" name="end-date-year"
												       value="{{ data['end-date-year'] }}" type="text"
												       inputmode="numeric">
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="govuk-form-group">
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="end-date-estimate"
									       name="end-date-estimate" type="checkbox" value="estimated">
									<label class="govuk-label govuk-checkboxes__label" for="end-date-estimate">
										This is an estimate
									</label>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button">
					Continue
				</button>

				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name=""
				        value="progress" formaction="../task-list">
					Save and come back later
				</button>
			</div>
		</form>

	</div>
	<div class="govuk-grid-column-one-third"></div>
</div>

{% endblock %}
