// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "components/_autocomplete";

// Import Summary card style from https://deploy-preview-2251--govuk-design-system-preview.netlify.app/components/summary-list/#showing-multiple-summary-lists
@import "patterns/summary-list-card";

@import "patterns/contents-list";

.autocomplete__menu {
  @include govuk-font($size: 19);
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.app-task-list__items {
  padding-left: 0;
}

// Add a break after the "Add another subject button"
#add-another-subject-button {
  display: block;
  width: 145pt;
  text-decoration: none;
  &::after {
    content: "\A";
    white-space: pre;
  }
}

// Added for the LOPS address on the page 'check-eligibility/eligible-bucket-x'
.app-teaching-authority-address {
  white-space: pre-line;
}

// Added to quicly show devs and stakeholders the variable content in some of the flows
.variableHighlightColour {
  //color: #d4351c;
  color: #0b0c0c;
}

// Home Office loading spinner
.hods-loading-spinner__spinner {
  margin-left: auto;
  margin-right: auto;
  border: 12px solid #dee0e2;
  border-radius: 50%;
  border-top-color: #1d70b8;
  width: 80px;
  height: 80px;
  -webkit-animation: hods-loading-spinner-animation 2s linear infinite;
  animation: hods-loading-spinner-animation 2s linear infinite;
}

.hods-loading-spinner__content {
  padding-top: 15px;
  text-align: center;
}