{% extends "layout.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<form class="form" action="upload-personal-information" method="post">

			<h1 class="govuk-heading-l">
				Personal information
			</h1>

			{% from "govuk/components/input/macro.njk" import govukInput %}

			{{ govukInput({
			label: {
			text: "Given names",
			classes: "govuk-label--m",
			isPageHeading: false
			},
			hint: {
			text: "Enter your full name apart from your family name"
			},
			id: "first-name",
			name: "first-name",
			value: data['first-name']
			}) }}

			{{ govukInput({
			label: {
			text: "Family name",
			classes: "govuk-label--m",
			isPageHeading: false
			},
			hint: {
			text: "Enter just your family name"
			},
			id: "last-name",
			name: "last-name",
			value: data['last-name']
			}) }}

			{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

			{{ govukDateInput({
			id: "dob",
			namePrefix: "dob",
			fieldset: {
			legend: {
			text: "Date of birth",
			isPageHeading: false,
			classes: "govuk-label govuk-label--m"
			}
			},
			hint: {
			text: "For example, 27 3 1980"
			},
			items: [
			{
			name: "day",
			classes: "govuk-input--width-2",
			value: data["dob-day"]
			},
			{
			name: "month",
			classes: "govuk-input--width-2",
			value: data["dob-month"]
			},
			{
			name: "year",
			classes: "govuk-input--width-4",
			value: data["dob-year"]
			}
			]
			}) }}

			<button class="govuk-button" data-module="govuk-button">Continue</button>

	</div>
</div>

{% endblock %}
