{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your eligibility answers</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <!-- Radio Button answer -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Radio Button Question
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['where-do-you-live'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/question-1-radio">
              Change
              <span class="govuk-visually-hidden"> Radio Button answer</span>
            </a>
          </dd>
        </div>

        <!-- Textarea answer -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Textarea Question
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['more-detail'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/question-2-textarea">
              Change
              <span class="govuk-visually-hidden"> Textarea answer</span>
            </a>
          </dd>
        </div>

        <!-- Dropdown answer -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            drop down question
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['sort'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/question-3-drop-down">
              Change
              <span class="govuk-visually-hidden"> Textarea answer</span>
            </a>
          </dd>
        </div>

        <!-- Single Text answer -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Signle line text Question
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['text-question'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/question-4-text">
              Change
              <span class="govuk-visually-hidden"> Signle line text answer</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
