{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You might be eligible to apply for QTS
      </h1>
      <p>Based on the information you've given, you can apply for QTS.</p>

      <h2 class="govuk-heading-m">You can prepare to apply now</h2>
      <p>If you decide to apply, you'll need to provide a range of evidence. We'll ask you to upload some scans, photos, or original files, so it's useful to get these now.</p>

      <h2 class="govuk-heading-m">You might need to provide translations</h2>
      <p>If your documents are not in English, you’ll need to provide a certified translation of each one.</p>


    </div>
  </div>

{% endblock %}
