{% extends "layout.html" %}

{% block pageTitle %}
You might be eligible to apply for QTS – {{ serviceName }} prototype
{% endblock %}

{% block pageNavigation %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">You’re eligible to apply for qualified teacher status (QTS) in England</h1>

        <h2 class="govuk-heading-m">Preparing to apply</h2>
        <p class="govuk-body">When you apply, you'll need to provide evidence that supports your application by uploading scans, photos, or original files of documents.</p>

        <h3 class="govuk-heading-m">What we’ll ask for</h3>

        <p class="govuk-body">You’ll need to provide proof of your:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Identity</li>
            <li>qualifications</li>
            <li>English language ability</li>
            <li>work history</li>
            <li>status as a recognised teacher</li>
        </ul>

        <h3 class="govuk-heading-m">About certified translations</h3>

        <p class="govuk-body">If your documents are not written in English, you’ll need to provide certified translations (at your own cost) for qualifications, transcripts, and proof that you're recognised as a teacher.

        <p class="govuk-body">A certified translator must state (on the translated document or a separate certification page) that it’s a true, accurate and correct copy of the original.

        <p class="govuk-body">Each one must include the date of the translation as well as the certified translator’s:

        <ul class="govuk-list govuk-list--bullet">
            <li>signature</li>
            <li>name and contact details</li>
            <li>official certification seal/stamp or ID number</li>
        </ul>

        <p class="govuk-body">We cannot recommend translation providers. You may want to search for translators who are members of the <a href="http://www.iti.org.uk/component/itisearch/?view=translators" class="govuk-link"
                                                                                                                                          rel="noreferrer noopener" target="_blank">Institute of Translating and Interpretation
            (opens in a new tab)</a>. Sometimes a university’s language department can also help.

        <h4 class="govuk-heading-m">Starting your application</h4>

        <p class="govuk-body">You can start your application straight away. We’ll explain what you need at each section of your application.</p>

        <div class="govuk-inset-text">
            If we ask for a document you do not have yet, you can save your progress. You’ll need to complete your application within 6 months of starting it.
        </div>

        <p class="govuk-body">Alternatively, you can review the full requirements first, before starting your application.</p>

        <p class="govuk-body"><a href="eligible-full-requirements" class="govuk-link">Review the full requirements</a>.</p>

        <a role="button" draggable="false" data-module="govuk-button" class="govuk-button govuk-button--start"
           href="/prototype-3/create-account-sign-in">Apply for QTS
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                 viewBox="0 0 33 40" focusable="false" aria-hidden="true">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>

        <p class="govuk-body">Once you start your application, we’ll sign you out if you’re inactive for 60 minutes.</p>

        <h5 class="govuk-heading-m">Help us to improve this service</h5>

        <p class="govuk-body">We're always trying to improve this service and boost teacher recruitment from overseas, so we'd like to talk to people about their experience of using this service.</p>

        <p class="govuk-body">If you'd like to help, please <a href="https://docs.google.com/forms/d/e/1FAIpQLSfjsMHqaiNP2cUUpmbeOkHRM96afrsj1TmTIEs-k4yit0JqBA/viewform"
                                                               rel="noreferrer noopener" target="_blank">complete this form</a>.</p>

        <p class="govuk-body">If you match our search criteria, we'll invite you to take part in research.</p>
    </div>
</div>

{% endblock %}
