{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You are eligible to apply
      </h1>
      <p>Thank you for the information you have given us. We can confirm you are eligible to apply for QTS using this service.</p>
        <!-- <a href="#" class="govuk-link">check what documents you’ll need to apply</a> -->
        <a href="/prototype-1/task-list-2" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
          Continue
        </a>

    </div>
  </div>

{% endblock %}
