{% extends "wizard.html" %}

{% block pageTitle %}
You're not eligible – {{ serviceName }} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			You’re not eligible to apply for qualified teacher status (QTS) in England
		</h1>

		<p class="govuk-body">Teachers applying from {{ data["country"] }} are not currently eligible to use this
			service. However, you can <a
					href="https://www.gov.uk/government/publications/apply-for-qualified-teacher-status-qts-if-you-teach-outside-the-uk/routes-to-qualified-teacher-status-qts-for-teachers-and-those-with-teaching-experience-outside-the-uk#qts-exemption-for-teachers-from-outside-the-uk"
					rel="noreferrer noopener" target="_blank">apply for QTS using alternative routes</a>.</p>

		<p class="govuk-body">You can also <a
				href="https://getintoteaching.education.gov.uk/non-uk-teachers/teach-in-england-if-you-trained-overseas"
				rel="noreferrer noopener" target="_blank">learn more about teaching in England</a>.</p>

		<h4 class="govuk-heading-s govuk-!-margin-top-5">Help us improve this service</h4>
		<p class="govuk-body">We're always trying to improve this service and boost teacher recruitment from overseas. So we'd like to talk to people about their experience of using this service.</p>

		<p class="govuk-body">If you'd like to help, please [complete this form](https://docs.google.com/forms/d/e/1FAIpQLSdH_nfDnt9OUolI25fLs27uitWWn63KibNWsGFOYT-Os14PRg/viewform)</p>

		<p class="govuk-body">If you match our search criteria, we'll invite you to take part in research. </p>

		

	</div>
</div>

{% endblock %}
