{% extends "wizard.html" %}

{% block pageTitle %}
  Are you recognised as a teacher in the country where you trained? – {{ serviceName }} prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-xl">Radio Button question</h1> -->

      <form class="form" action="/registered-teacher-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "registered-teacher",
          name: "registered-teacher",
          fieldset: {
            legend: {
              text: "Are you recognised as a teacher in the country where you trained?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You need to have met all conditions for being fully recognised."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("registered-teacher", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("registered-teacher", "No")
            }

          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
