{% extends "wizard.html" %}

{% block pageTitle %}
Do you have a teaching qualification? – {{ serviceName }} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<!-- <h1 class="govuk-heading-xl">Radio Button question</h1> -->

		<form class="form" action="/formal-training-answer" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do you have a teaching qualification that was completed in {{ data['country'] }}
                        </h1>
                    </legend>
                    <div id="formal-training-hint" class="govuk-hint">
                        <p class="govuk-hint">Your teaching qualification must have been completed in the country where you are recognised as a teacher to be eligible for QTS</p>
                        <p class="govuk-hint">Qualifications gained from other countries should not be included in your application.</p>
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="formal-training" name="formal-training" type="radio" value="Yes" {{ checked("formal-training", "Yes") }}>
                            <label class="govuk-label govuk-radios__label" for="formal-training">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="formal-training-2" name="formal-training" type="radio" value="No"  {{ checked("formal-training", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="formal-training-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

			<button class="govuk-button" data-module="govuk-button">Continue</button>

		</form>

	</div>
</div>

{% endblock %}
