{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-xl">Radio Button question</h1> -->

      <form class="form" action="/recognised-teacher-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "recognised-teacher",
          name: "recognised-teacher",
          fieldset: {
            legend: {
              text: "Are you recognised as a teacher in the country where you trained?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You must be able to prove that you enjoy a professional status as a fully qualified teacher in the country where you trained. You must have no restrictions on your teaching practice and a clean employment record as a teacher."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("recognised-teacher", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("recognised-teacher", "No")
            }
            
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
