{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="task-list-2" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "We'll use your email address to create a secure link to your account.
            This will allow you to come back to your application in order to complete it."
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          value: data['email']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
    
  </div>

{% endblock %}
