{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for Qualified teacher status
      </h1>


      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Personal details 
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="personal-information/name-and-dob" aria-describedby="eligibility-status">
                  Personal information
                </a>
              </span>
              {% if  data['completed-personal-details'] == "yes"  %}
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% elseif  data['completed-personal-details'] == "no"  %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Education and qualifications
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="qualifications/question-together-separate.html" aria-describedby="list-convictions-status">
                  Education and qualifications
                </a>
              </span>
              {% if  data['completed-qualifications'] == "yes"  %}
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% elseif  data['completed-qualifications'] == "no"  %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Profesional Standing
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="professional-standing/question-evidence-professional-standing" aria-describedby="list-convictions-status">
                Professional standing 
              </a>
              </span>
              {% if  data['completed-professional-standing'] == "yes"  %}
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% elseif  data['completed-professional-standing'] == "no"  %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <a class="govuk-button" href="success">Submit your application</a>
        </li>

      </ol>
    </div>
  </div>

{% endblock %}
