{% extends "wizard.html" %}

{% block pageTitle %}
  Was your university degree taught in English? – {{ serviceName }} prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/english-proficiency-degree-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "english-proficiency-degree",
          name: "english-proficiency-degree",
          fieldset: {
            legend: {
              text: "Was your university degree taught in English?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "We need to understand whether your degree qualification was taught in English or in another language."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("english-proficiency-degree", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("english-proficiency-degree", "no")
            }

          ]
        }) }}

        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {{ govukDetails({
        summaryText: "Why we ask this",
        text: "If you can prove that your university degree was taught in English, you do not need to hold or take an English language test as part of your QTS application."
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
