{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			Proof you'll need to provide in your application
		</h1>

		<h2 class="govuk-heading-m">
			Identity
		</h2>

		<p class="govuk-body">
			You must provide one of the following:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>passport (must not have expired)</li>
			<li>birth certificate</li>
			<li>national identity card that shows your date of birth and nationality (must not have expired)</li>
		</ul>

		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				Has your name changed?
			  </span>
			</summary>
			<div class="govuk-details__text">
				You'll need to provide evidence of your name change (for example, a marriage certificate or name change deed) if your identity documents do not match.
			</div>
		  </details>

		<h2 class="govuk-heading-m">
			Qualifications
		</h2>

		<p class="govuk-body">	
			You must hold a teaching qualification that’s equivalent to a UK ‘level 6’ or higher.
			<a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"></a>Check your qualification is equivalent to a level 6 or higher.
		</p>


		<p>
			If your qualification is equivalent to level 6, but is NOT a degree, you must also provide evidence that you hold a separate degree.
		</p>

		<p>
			We'll need to understand the level of focus your qualifications had on developing practical teaching skills.
		</p>

		<p>
			For any qualifications you submit, you’ll need to provide:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>a certificate</li>
			<li>a transcript (or diploma supplement)</li>
		</ul>

		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				What is a transcript?
			  </span>
			</summary>
			<div class="govuk-details__text">
				A document that lists all the modules or subjects you studied in each year, and the grades you were awarded. Note that you must have completed all of your teaching qualification in [Ghana].
			</div>
		  </details>


		<h2 class="govuk-heading-m">
			English language ability
		</h2>

		<p class="govuk-body">
			There are 4 ways to prove your English language ability.
		</p>

		<p>
			Each one must include the date of the translation as well as the certified translator’s:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>signature</li>
			<li>name and contact details</li>
			<li>official certification seal/stamp or ID number</li>
		</ul>



		<h2 class="govuk-heading-m">
			Finding a certified translator
		</h2>

		<p class="govuk-body">
			You can find a professional translator through the <a href="https://www.iti.org.uk/component/itisearch/?view=translators" target="_blank">Institute of Translating and Interpreting (ITI) (opens in new tab)</a>. 
			All listed translators have been certified by the ITI and are qualified to complete translations.
		</p>

		<p>
			Alternatively, some universities may be able to provide certified translation.
			 You could search for universities with a language department and contact them for advice.	
		</p>


		<h2 class="govuk-heading-m">
			Completing the application
		</h2>

		<p>
			If we ask for a document you do not have yet, you can save your progress. 
			 You’ll need to complete your application within 6 months of starting it. 
		</p>

		<p>
			We’ll sign you out of the service if you’re inactive for 60 minutes.
		</p>


		<button class="govuk-button" data-module="govuk-button">
			Apply for QTS
		  </button>

		<p class="govuk-body">
			Alternatively, you can review more details about the application requirements first, before starting your application.
		</p>

		<p>
			<a href="end-detailed">Review detailed application requirements</a>.
		</p>
	</div>
</div>
{% endblock %}
