{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			You're eligible to apply for qualified teacher status (QTS)
		</h1>

		<p>When you apply, you'll need to provide evidence that supports your application.</p>

		<h2 class="govuk-heading-m">
			What we’ll ask for
		</h2>

		<p class="govuk-body">
			You’ll need to provide proof of your:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>identity</li>
			<li>qualifications</li>
			<li>English language ability</li>
			<li>work history</li>
			<li>status as a recognised teacher</li>
		</ul>

		<p class="govuk-body">	
			If your documents are not written in English, 
			you’ll need to provide certified translations of them (at your own cost).
		</p>


		<h2 class="govuk-heading-m">
			Certified translations
		</h2>

		<p class="govuk-body">
			A certified translator must state (on the translated document or a separate certification page)
			 that it’s a true, accurate and correct copy of the original.
		</p>

		<p>
			Each translated document must include the date of the translation as well as the certified translator’s:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>signature</li>
			<li>name and contact details</li>
			<li>official certification seal/stamp or ID number</li>
		</ul>



		<h2 class="govuk-heading-m">
			Finding a certified translator
		</h2>

		<p class="govuk-body">
			You can find a professional translator through the <a href="https://www.iti.org.uk/component/itisearch/?view=translators" target="_blank">Institute of Translating and Interpreting (ITI) (opens in new tab)</a>. 
			All listed translators have been certified by the ITI and are qualified to complete translations.
		</p>

		<p>
			Alternatively, some universities may be able to provide certified translation.
			 You could search for universities with a language department and contact them for advice.	
		</p>


		<h2 class="govuk-heading-m">
			Completing the application
		</h2>

		<p>
			If we ask for a document you do not have yet, you can save your progress. 
			 You’ll need to complete your application within 6 months of starting it. 
		</p>

		<p>
			We’ll sign you out of the service if you’re inactive for 60 minutes.
		</p>

		<form action="not-in-prototype">
		<button class="govuk-button" data-module="govuk-button">
			Apply for QTS
		  </button>
		</form>

		<p class="govuk-body">
			Alternatively, you can review more details about the application requirements first, before starting your application.
		</p>

		<p>
			<a href="end-detailed">Review detailed application requirements</a>.
		</p>
	</div>
</div>
{% endblock %}
