{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<form action="/test-start" method="post" novalidate>

		<h1 class="govuk-heading-xl">
			Set up
		</h1>

		<h2 class="govuk-heading-m">
			Please select your country
		</h2>

		<p>
			This page is not part of the service but to customise the testing experience to you.
		</p>

		{{ govukRadios({
			name: "ECcountrySelect",
			fieldset: {
			},
			items: [
			  {
				value: "Ghana",
				text: "Ghana"
			  },
			  {
				value: "Nigeria",
				text: "Nigeria"
			  },
			  {
				value: "South Africa",
				text: "South Africa"
			  },
			  {
				value: "Hong Kong",
				text: "Hong Kong"
			  },
			  {
				value: "India",
				text: "India"
			  },
			  {
				value: "USA",
				text: "USA"
			  },
			  {
				value: "Canada",
				text: "Canada"
			  }
			]
		  }) }}


		  {{ govukButton({
			text: "Continue"
		  }) }}
		
		</form>
	</div>
</div>
{% endblock %}
