{% extends "layout.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<!-- <h1 class="govuk-heading-xl">Radio Button question</h1> -->

		<form class="form" action="/stem-answer" method="post">

			{% from "govuk/components/radios/macro.njk" import govukRadios %}

			{{ govukRadios({
			idPrefix: "DegreeStem",
			name: "DegreeStem",
			fieldset: {
			legend: {
			text: "Did your degree contain Maths and Science content?",
			isPageHeading: true,
			classes: "govuk-fieldset__legend--l"
			}
			},
			hint: {
			text: "Similarly to teachers trained within the UK, you must demonstrate that you have a level of maths
			proficiency that is equivalent to at least a GCSE in maths at level 4."

			},
			items: [
			{
			value: "Yes",
			text: "Yes",
			checked: checked("DegreeStem", "Yes")
			},
			{
			value: "No",
			text: "No",
			checked: checked("DegreeStem", "No")
			}

			]
			}) }}

			<button class="govuk-button" data-module="govuk-button">Continue</button>

		</form>

	</div>
</div>

{% endblock %}
