{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is your nationality as shown on your passport or travel document?</h1>
      <!-- <div id="" class="govuk-hint">
        *May have second nationalities later on
      </div> -->
      <form class="form" action="question-country-trained" method="post">

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "nationality",
          name: "nationality",
          label: {
            text: "Select nationality"
          },
          items: [
            {
              value: "India",
              text: "India",
              checked: checked("nationality", "India")
            },
            {
              value: "Jamaica",
              text: "Jamaica",
              checked: checked("nationality", "Jamaica")
              

            },
            {
              value: "Nigeria",
              text: "Nigeria",
              checked: checked("nationality", "Nigeria")
            },
            {
              value: "Zimbabwe",
              text: "Zimbabwe",
              checked: checked("nationality", "Zimbabwe")

            }

            
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
