{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Prepare your QTS application
      </h1>

      <p>Use this questionnaire to check which documents you will need to supply to support your application for Qualified Teacher Status (QTS) in England.</p>
      <p>The displayed results from the completed questionnaire, will inform you of the specific supporting documents we require and why we need these documents.</p>
      <p>You will be asked to upload these documents later, as part of the Apply for QTS process which follows the completion of this questionnaire.</p>
      <p>It is free to use.</p>
      <p>It will take about 2 minutes to complete.</p>

      <a href="question-nationality" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Continue
      </a>
    </div>
  </div>
{% endblock %}
