{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Documents you will need
      </h1>
      <p>Based on your answers in the eligibility checker, you may be eligible to apply to get qualified teacher status (QTS).</p> 
      <p>Before you apply, you will need to prepare documents that prove your</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>identity</li>
        <li>qualifications</li>
        <li>teaching experience </li>
        <li>knowledge of English</li>
      </ul>
      <p>The documents you need to prepare will depend on your circumstances.</p>
      <p>Use this checker to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li> Find out what documents you would need to make you application for QTS</li>
      </ul>
      <p>You do not have to pay us a fee for using this checker or for making an application for QTS. There may be some costs to pay for the evidence that you need to provide.</p>

      <a href="question-nationality" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        start now
      </a>
    </div>
  </div>
{% endblock %}
