{% extends "layout.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">
        About your teacher training qualification
      </span>

		<form class="form" action="question-qualification-study-period" method="post">

			{% from "govuk/components/input/macro.njk" import govukInput %}

			{{ govukInput({
			label: {
			text: "In which country is the institution where you completed your teacher training qualification?",
			classes: "govuk-label--l",
			isPageHeading: true
			},
			id: "qualification-institution-country",
			name: "qualification-institution-country",
			type: "text",
			spellcheck: false,
			value: data['qualification-institution-country']
			}) }}

			<button class="govuk-button" data-module="govuk-button">Continue</button>

		</form>

	</div>

</div>

{% endblock %}
