{% extends "layout.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Teacher training and qualifications
      </span>

		<h1 class="govuk-heading-l">Upload your undergraduate degree documents</h1>

		<p class="govuk-body">Your documents must be written in English. If they are not written in English, you will
			need to upload a
			certified translation of each.</p>

		<form class="form" action="professional-standing-summary" method="post">

			<div class="govuk-form-group govuk-form-group--error">
				<label class="govuk-label" for="file-upload-1">
					Select a file to upload
				</label>
				<div id="training-certificate-hint" class="govuk-hint">
					You can upload your files in PDF, JPG or DOC format. Each file must be no larger than 20MB.
				</div>
				<p id="file-upload-1-error" class="govuk-error-message">
					<span class="govuk-visually-hidden">Error:</span> No file selected
				</p>
				<a href="upload-degree-2" class="govuk-button govuk-button--secondary" data-module="govuk-button"
				   name="lopsFile" value="letterofprofessionalstanding.jpg">Choose file</a>
				<span class="govuk-body" style="position:relative;top:7px">No file uploaded</span>
			</div>

			<div class="govuk-button-group">
				<a class="govuk-button" style="text-decoration: none;" href="upload-degree-error">
					Upload and continue
				</a>

				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="lopsFile"
				        value="">
					Add this later
				</button>

			</div>

		</form>

	</div>
</div>

{% endblock %}
