{% extends "layout.html" %}

{% block pageTitle %}
  Do you have a work history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="work-history-in-education-1" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="have-work-history-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Have you worked professionally as a teacher?
              </h1>
            </legend>
            <div id="changed-name-hint" class="govuk-hint">
              If you’re a recent university graduate, or you've just completed your teacher training, you may not have held a professional teaching position yet.
            </div>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="have-work-history" name="have-work-history" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="have-work-history">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="have-work-history-2" name="have-work-history" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="have-work-history-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
