{% extends "layout.html" %}

{% block pageTitle %}
	Work history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageStyles %}
<link href="/public/govuk-country-and-territory-autocomplete/location-autocomplete.min.css" media="screen"
      rel="stylesheet">
{% endblock %}

{% block pageScripts %}
<script src="/public/govuk-country-and-territory-autocomplete/location-autocomplete.min.js"></script>
<script>
    openregisterLocationPicker({
        selectElement: document.getElementById('school-2-country'),
        url: '/public/govuk-country-and-territory-autocomplete/location-autocomplete-graph.json',
        defaultValue: '{{ data["school-2-country"] }}'
    })
</script>
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Add another role</h1>
		<p class="govuk-body">Tell us about your current or most recent role.</p>

		<p class="govuk-body">You must provide a name and email address for someone who can verify your work experience.</p>

		<form class="form" action="work-history-in-education-summary-2" method="post">

			<div class="govuk-form-group">
				<label class="govuk-label" for="school-2-name">
					Name of school
				</label>
				<input class="govuk-input" id="school-2-name" name="school-2-name" value="{{ data['school-2-name'] }}"
				       type="text">
			</div>

			<div class="govuk-form-group">
				<label class="govuk-label" for="school-2-city">
					City
				</label>
				<input class="govuk-input" id="school-2-city" name="school-2-city" value="{{ data['school-2-city'] }}"
				       type="text">
			</div>

			{% from "govuk/components/select/macro.njk" import govukSelect %}

			{{ govukSelect({
			id: "school-2-country",
			name: "school-2-country",
			classes: "govuk-input--width-10",
			label: {
			classes: "govuk-label--s, govuk-!-font-weight-regular",
			isPageHeading: true,
			text: "Country"
			},
			items: countries
			}) }}

			<div class="govuk-form-group">
				<label class="govuk-label" for="job-role-2">
					Job title or role
				</label>
				<input class="govuk-input" id="job-role-2" name="job-role-2" value="{{ data['job-role-2'] }}" type="text">
			</div>

			{{ govukRadios({
			name: "role-2-full-or-part-time",
			fieldset: {
			legend: {
			text: "Was this a full-time role (at least 4 days per week, for at least 30 hours)?"
			}
			},
			items: [{
			text: "Yes",
			value: "Yes"
			}, {
			text: "No",
			value: "No"
			}]
			}) }}

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend">
						Did you work unsupervised with children aged between 5 and 16 years?
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="role-2-age-range-1" name="role-2-age-range" type="radio"
							       value="Yes">
							<label class="govuk-label govuk-radios__label" for="role-2-age-range-2">
								Yes
							</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="role-2-age-range-2" name="role-2-age-range" type="radio"
							       value="No">
							<label class="govuk-label govuk-radios__label" for="role-2-age-range-2">
								No
							</label>
						</div>
					</div>

				</fieldset>
			</div>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend">
						Were you solely responsible for planning and delivering lessons to at least 4 students at a time?
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="role-2-student-number" name="role-2-student-number" type="radio"
							       value="Yes">
							<label class="govuk-label govuk-radios__label" for="role-2-student-number">
								Yes
							</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="role-2-student-number-2" name="role-2-student-number"
							       type="radio" value="No">
							<label class="govuk-label govuk-radios__label" for="role-2-student-number-2">
								No
							</label>
						</div>
					</div>

				</fieldset>
			</div>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend">
						Were you solely responsible for assessing and reporting on the progress of those students?
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="role-2-student-assessment" name="role-2-student-assessment" type="radio"
							       value="Yes">
							<label class="govuk-label govuk-radios__label" for="role-2-student-assessment">
								Yes
							</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="role-2-student-assessment-2" name="role-2-student-assessment"
							       type="radio" value="No">
							<label class="govuk-label govuk-radios__label" for="role-2-student-assessment-2">
								No
							</label>
						</div>
					</div>

				</fieldset>
			</div>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-2-hint">
					<legend class="govuk-fieldset__legend">
						<h1 class="govuk-fieldset__heading">
							When did you start this role?
						</h1>
					</legend>
					<div id="start-date-2-hint" class="govuk-hint">
						For example, 3 2020, If you cannot remember the exact month or year, enter an estimate.
					</div>
					<div class="govuk-date-input" id="start-date-2">
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="start-date-2-month">
									Month
								</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2"
								       id="start-date-2-month" name="start-date-2-month"
								       value="{{ data['start-date-2-month'] }}" type="text" inputmode="numeric">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="start-date-2-year">
									Year
								</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-4"
								       id="start-date-2-year" name="start-date-2-year" value="{{ data['start-date-2-year'] }}"
								       type="text" inputmode="numeric">
							</div>
						</div>
					</div>

				</fieldset>
			</div>

			<div class="govuk-form-group">
				<div class="govuk-checkboxes__item">
					<input class="govuk-checkboxes__input" id="start-date-2-estimate" name="start-date-2-estimate"
					       type="checkbox" value="estimated">
					<label class="govuk-label govuk-checkboxes__label" for="start-date-2-estimate">
						This is an estimate
					</label>
				</div>
			</div>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="still-at-school-2-hint">
					<legend class="govuk-fieldset__legend">
						<h1 class="govuk-fieldset__heading">
							Are you still employed at this school?
						</h1>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="still-at-school-2" name="still-at-school" type="radio"
							       value="still-at-school-2-yes" data-aria-controls="conditional-still-at-school-2">
							<label class="govuk-label govuk-radios__label" for="still-at-school-2">
								Yes
							</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="still-at-school-2-2" name="still-at-school"
							       type="radio" value="still-at-school-2-no"
							       data-aria-controls="conditional-still-at-school-2-2">
							<label class="govuk-label govuk-radios__label" for="still-at-school-2-2">
								No
							</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
						     id="conditional-still-at-school-2-2">
							<div class="govuk-form-group">
								<fieldset class="govuk-fieldset" role="group" aria-describedby="end-date-2-hint">
									<legend class="govuk-fieldset__legend">
										<h1 class="govuk-fieldset__heading">
											Your end date
										</h1>
									</legend>
									<div id="end-date-2-hint" class="govuk-hint">
										For example, 3 2020, If you cannot remember the exact month or year, enter an
										estimate.
									</div>
									<div class="govuk-date-input" id="end-date">
										<div class="govuk-date-input__item">
											<div class="govuk-form-group">
												<label class="govuk-label govuk-date-input__label" for="end-date-2-month">
													Month
												</label>
												<input class="govuk-input govuk-date-input__input govuk-input--width-2"
												       id="end-date-2-month" name="end-date-2-month"
												       value="{{ data['end-date-2-month'] }}" type="text"
												       inputmode="numeric">
											</div>
										</div>
										<div class="govuk-date-input__item">
											<div class="govuk-form-group">
												<label class="govuk-label govuk-date-input__label" for="end-date-2-year">
													Year
												</label>
												<input class="govuk-input govuk-date-input__input govuk-input--width-4"
												       id="end-date-2-year" name="end-date-2-year"
												       value="{{ data['end-date-2-year'] }}" type="text"
												       inputmode="numeric">
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="govuk-form-group">
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="end-date-2-estimate"
									       name="end-date-2-estimate" type="checkbox" value="estimated">
									<label class="govuk-label govuk-checkboxes__label" for="end-date-2-estimate">
										This is an estimate
									</label>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
					<h1 class="govuk-fieldset__heading">
						Who should we contact to verify this role?
					</h1>
					<div id="event-name-hint" class="govuk-hint">
						If your application is successful, we’ll contact this person before awarding QTS. It’s important to choose a reliable contact who can provide a reference in English.
					</div>
				</legend>
				<div class="govuk-form-group">
					<label class="govuk-label" for="contact-full-name-2">
						Full name
					</label>
					<input class="govuk-input" id="contact-full-name-2" name="contact-full-name-2" type="text"
					       spellcheck="false" autocomplete="name" value="{{ data['contact-full-name-2'] }}">
				</div>

				<div class="govuk-form-group">
					<label class="govuk-label" for="contact-2-job-role">
						This person's job title
					</label>
					<input class="govuk-input" id="contact-2-job-role" name="contact-2-job-role" value="{{ data['contact-2-job-role'] }}" type="text">
				</div>

				<div class="govuk-form-group">
					<label class="govuk-label" for="reference-email-2">
						Email address
					</label>
					<input class="govuk-input" id="reference-email-2" name="reference-email-2"
					       value="{{ data['reference-email-2'] }}" type="text">
				</div>
				<details class="govuk-details" data-module="govuk-details">
					<summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     Choosing someone to verify this role
    </span>
					</summary>
					<div class="govuk-details__text">
						<p>Make sure you have an up-to-date email address for the person you choose to verify this role. The reference they provide will be important to your application.</p>

						<p>We’ll ask them to confirm that you worked full time at the school for the period you’ve told us about.</p>

						<p>We’ll also check that you worked unsupervised in planning, preparing and delivering lessons to at least 4 students aged 5-16 at a time, as well as assessing and reporting on their progress.</p>

					</div>
				</details>
			</fieldset>
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button">
					Continue
				</button>

				<button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name=""
				        value="progress" formaction="../task-list">
					Save and come back later
				</button>
			</div>
		</form>

	</div>
	<div class="govuk-grid-column-one-third"></div>
</div>

{% endblock %}
