{% extends "layout.html" %}

{% block pageTitle %}
	Add another role – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <!-- This needs to be calculated from the hours and date range given in the previous page -->
		<h1 class="govuk-heading-l">You’ve told us about 7 months of work experience so far</h1>

        <h2 class="govuk-heading-s">How we calculate your work experience</h2>
        <p class="govuk-body">We use a 30-hour working week to calculate your experience.</p>
        <p class="govuk-body">If you add a role where you worked <span class="govuk-!-font-weight-bold">under</span> 30 hours per week, we’ll convert the hours you enter into 30-hour weeks. That means the number of months you’ve added so far may be smaller than you expected.</p>

        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
        {{ govukInsetText({
        text: "For example, if you tell us about a role where you worked 15 hours per week for 18 months, we’ll convert this to 9 months of 30-hour weeks. We’ll then add this role to your total as 9 months."
        }) }}

        <h3 class="govuk-heading-s">Adding more roles</h3>

        <p class="govuk-body">You can add as many roles as you want, but you must show at least 9 months of active teaching experience.</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>If you have more than 9 months but under 20, you may be awarded QTS, but you’ll need to do a 2-year period of statutory induction.</li>
            <li>If you have more than 20 months, there’s no need to do an induction period.</li>
        </ul>

		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
	                            <span class="govuk-details__summary-text">
                                    I do not have more than 9 months of teaching experience
							    </span>
			</summary>
			<div class="govuk-details__text">
				<p class="govuk-body">QTS requires a minimum of 9 months of active teaching experience. We can keep your application open for <span style="color: #d4351c;">[6 months]</span>, so you can continue later, if you gain enough experience in that time.</p>

				<p class="govuk-body">Alternatively, you can <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/teach-in-england-if-you-trained-overseas" class="govuk-link" rel="noreferrer noopener" target="_blank">explore other ways to teach in England (opens in new tab)</a>.</p>

			</div>
		</details>

		<form class="form" action="/work-history" method="post">

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">

					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h2 class="govuk-fieldset__heading">
							Add another role?
						</h2>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="add-another-job-role"
							       name="add-another-job-role" type="radio" value="yes">
							<label class="govuk-label govuk-radios__label" for="add-another-job-role">
								Yes
							</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="add-another-job-role-2"
							       name="add-another-job-role" type="radio" value="no">
							<label class="govuk-label govuk-radios__label" for="add-another-job-role-2">
								No
							</label>
						</div>
					</div>
				</fieldset>
			</div>

			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" value="progress" type="submit">
					Continue
				</button>
			</div>

		</form>

	</div>
</div>

{% endblock %}
