{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageStyles %}
<link href="/public/govuk-country-and-territory-autocomplete/location-autocomplete.min.css" media="screen" rel="stylesheet">
{% endblock %}

{% block pageScripts %}
<script src="/public/govuk-country-and-territory-autocomplete/location-autocomplete.min.js"></script>
<script>
  openregisterLocationPicker({
    selectElement: document.getElementById('school-country'),
    url: '/public/govuk-country-and-territory-autocomplete/location-autocomplete-graph.json',
    defaultValue: '{{ data["school-country"] }}'
  })
</script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Proof that you're recognised as a teacher</span>
      <h1 class="govuk-heading-l">Your work history in education</h1>
      <p class="govuk-body">We need to see your work history in education, beginning with your current or most recent employer.</p>
      <p class="govuk-body">You can add previous employers and roles dating back to a maximum of 10 years.</p>

      <form class="form" action="work-history-in-education-summary" method="post">

        <h2 class="govuk-heading-m">Your current or most recent role</h2>

        <div class="govuk-form-group">
          <label class="govuk-label" for="school-name">
            School name
          </label>
          <input class="govuk-input" id="school-name" name="school-name" value="{{ data['school-name'] }}" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="school-city">
            City
          </label>
          <input class="govuk-input" id="school-city" name="school-city" value="{{ data['school-city'] }}" type="text">
        </div>

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
        id: "school-country",
        name: "school-country",
        classes: "govuk-input--width-10",
        label: {
        classes: "govuk-label--s, govuk-!-font-weight-regular",
        isPageHeading: true,
        text: "Country"
        },
        items: countries
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label" for="job-role">
            Your job role
          </label>
          <input class="govuk-input" id="job-role" name="job-role" value="{{ data['job-role'] }}" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-full-name">
            Contact's full name
          </label>
          <input class="govuk-input" id="contact-full-name" name="contact-full-name" type="text" spellcheck="false" autocomplete="name" value="{{ data['contact-full-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="reference-email">
            Contact email address for this organisation
          </label>
          <input class="govuk-input" id="reference-email" name="reference-email" value="{{ data['reference-email'] }}" type="text">
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             Why we ask for this
            </span>
          </summary>
          <div class="govuk-details__text">
            We need a name and an official contact email address for your current or most recent employer in case we need to get in touch with them. This must not be a web-based email address such as @gmail.com.
          </div>
        </details>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Your start date
              </h1>
            </legend>
            <div id="start-date-hint" class="govuk-hint">
              For example, 3 2020
            </div>
            <div class="govuk-date-input" id="start-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-month" name="start-date-month" value="{{ data['start-date-month'] }}" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-date-year" name="start-date-year" value="{{ data['start-date-year'] }}" type="text" inputmode="numeric">
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="still-at-school-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Are you still employed at this school?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="still-at-school" name="still-at-school" type="radio" value="still-at-school-yes" data-aria-controls="conditional-still-at-school">
                <label class="govuk-label govuk-radios__label" for="still-at-school">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="still-at-school-2" name="still-at-school" type="radio" value="still-at-school-no" data-aria-controls="conditional-still-at-school-2">
                <label class="govuk-label govuk-radios__label" for="still-at-school-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-still-at-school-2">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="end-date-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <h1 class="govuk-fieldset__heading">
                        Your end date
                      </h1>
                    </legend>
                    <div id="end-date-hint" class="govuk-hint">
                      For example, 3 2020
                    </div>
                    <div class="govuk-date-input" id="end-date">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="end-date-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="end-date-month" name="end-date-month" value="{{ data['end-date-month'] }}" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="end-date-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="end-date-year" name="end-date-year" value="{{ data['end-date-year'] }}" type="text" inputmode="numeric">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name="" value="progress" formaction="../task-list">
            Save and come back later
          </button>
        </div>
      </form>

    </div>
    <div class="govuk-grid-column-one-third"></div>
  </div>

{% endblock %}
