{% extends "layout.html" %}

{% block pageTitle %}
Adding your work history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageStyles %}
<link href="/public/govuk-country-and-territory-autocomplete/location-autocomplete.min.css" media="screen"
      rel="stylesheet">
{% endblock %}

{% block pageScripts %}
<script src="/public/govuk-country-and-territory-autocomplete/location-autocomplete.min.js"></script>
<script>
    openregisterLocationPicker({
        selectElement: document.getElementById('school-country'),
        url: '/public/govuk-country-and-territory-autocomplete/location-autocomplete-graph.json',
        defaultValue: '{{ data["school-country"] }}'
    })
</script>
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Adding your work history</h1>
		<p class="govuk-body">To apply for QTS you must show at least 9 months of active teaching experience.</p>
		<p class="govuk-body govuk-!-font-weight-bold">Every teaching role you tell us about must meet all of the following criteria.</p>
		<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
			<li>You worked full time (meaning at least 4 days per week, for a total of at least 30 hours).</li>
			<li>You worked unsupervised with children aged between 5 and 16 years.</li>
			<li>You were solely responsible for planning, preparing and delivering lessons to at least 4 students at a time.</li>
			<li>You were solely responsible for assessing and reporting on the progress of those students.</li>
		</ul>

		<p class="govuk-body">We cannot consider any teaching roles that do not meet ALL of these requirements.</p>

		<form class="form" action="/work-history-landing" method="post">

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="meet-work-history-criteria-hint">
					<legend class="govuk-fieldset__legend">
						<h1 class="govuk-fieldset__heading">
							Do the roles you’re about to add meet all of these requirements?
						</h1>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="meet-work-history-criteria" name="meet-work-history-criteria" type="radio"
							       value="yes" data-aria-controls="conditional-meet-work-history-criteria">
							<label class="govuk-label govuk-radios__label" for="meet-work-history-criteria">
								Yes
							</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="meet-work-history-criteria-2" name="meet-work-history-criteria"
							       type="radio" value="no"
							       data-aria-controls="conditional-meet-work-history-criteria-2">
							<label class="govuk-label govuk-radios__label" for="meet-work-history-criteria-2">
								No
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button">
					Continue
				</button>
			</div>
		</form>

	</div>
	<div class="govuk-grid-column-one-third"></div>
</div>

{% endblock %}
