{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="question-applicant-suitable" method="post">

	      <div class="govuk-form-group">
		      <fieldset class="govuk-fieldset" aria-describedby="question-applicant-misconduct-hint">
			      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				      <span class="govuk-caption-l">Question 6 of 7</span>
				      <h1 class="govuk-fieldset__heading">
                          Do you know of any professional misconduct by the applicant, or any disciplinary action taken against them?
				      </h1>
                      <!-- Alternative wording from TRA
                      <h1 class="govuk-fieldset__heading">
                          Has the teacher been barred or subject to any restrictions on their eligibility to teach children
                      </h1>
                      -->
			      </legend>
			      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
				      <div class="govuk-radios__item">
					      <input class="govuk-radios__input" id="question-applicant-misconduct" name="question-applicant-misconduct" type="radio" value="Yes" {{ checked("question-applicant-misconduct", "Yes") }}>
					      <label class="govuk-label govuk-radios__label" for="question-applicant-misconduct">
						      Yes
					      </label>
				      </div>
				      <div class="govuk-radios__item">
					      <input class="govuk-radios__input" id="question-applicant-misconduct-2" name="question-applicant-misconduct" type="radio" value="No" {{ checked("question-applicant-misconduct", "No") }}>
					      <label class="govuk-label govuk-radios__label" for="question-applicant-misconduct-2">
						      No
					      </label>
				      </div>
			      </div>

		      </fieldset>
	      </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
