{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="question-student-assessment" method="post">

	      <div class="govuk-form-group">
		      <fieldset class="govuk-fieldset" aria-describedby="question-child-number-hint">
			      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				      <span class="govuk-caption-xl">Question 4 of 5</span>
				      <h1 class="govuk-fieldset__heading">
					      Was the applicant solely responsible for planning, preparing and delivering lessons to at least 4 students at a time?
				      </h1>
			      </legend>
			      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
				      <div class="govuk-radios__item">
					      <input class="govuk-radios__input" id="question-child-number" name="question-child-number" type="radio" value="Yes" {{ checked("question-child-number", "Yes") }}>
					      <label class="govuk-label govuk-radios__label" for="question-child-number">
						      Yes
					      </label>
				      </div>
				      <div class="govuk-radios__item">
					      <input class="govuk-radios__input" id="question-child-number-2" name="question-child-number" type="radio" value="No" {{ checked("question-child-number", "No") }}>
					      <label class="govuk-label govuk-radios__label" for="question-child-number-2">
						      No
					      </label>
				      </div>
			      </div>

		      </fieldset>
	      </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
