{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="reference-requested-check-submission" method="post">


	      <div class="govuk-form-group">
		      <span class="govuk-caption-l">Question 8 of 8</span>
		      <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--l" for="question-other-comments">
                    Do you have any other concerns about this applicant? (optional)
		          </label>
		      </h1>
              <div id="more-detail-hint" class="govuk-hint">
                  If you have any other concerns about this applicant’s suitability to teach, use this space to briefly describe them. The applicant will NOT see your comments.
              </div>
		      <textarea class="govuk-textarea" id="question-other-comments" name="question-other-comments" rows="5" value="{{ data['question-other-comments'] }}"></textarea>
	      </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
