{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="question-child-number" method="post">

	      <div class="govuk-form-group">
		      <fieldset class="govuk-fieldset" aria-describedby="question-child-age-range-hint">
			      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				      <span class="govuk-caption-l">Question 3 of 7</span>
				      <h1 class="govuk-fieldset__heading">
					      Did the applicant work unsupervised with children aged between 5 and 16 years?
				      </h1>
			      </legend>
			      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
				      <div class="govuk-radios__item">
					      <input class="govuk-radios__input" id="question-child-age-range" name="question-child-age-range" type="radio" value="Yes" {{ checked("question-child-age-range", "Yes") }}>
					      <label class="govuk-label govuk-radios__label" for="question-child-age-range">
						      Yes
					      </label>
				      </div>
				      <div class="govuk-radios__item">
					      <input class="govuk-radios__input" id="question-child-age-range-2" name="question-child-age-range" type="radio" value="No" {{ checked("question-child-age-range", "No") }}>
					      <label class="govuk-label govuk-radios__label" for="question-child-age-range-2">
						      No
					      </label>
				      </div>
			      </div>

		      </fieldset>
	      </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
