{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="question-other-comments" method="post">

	      <div class="govuk-form-group">
		      <fieldset class="govuk-fieldset" aria-describedby="question-student-assessment-hint">
			      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				      <span class="govuk-caption-l">Question 5 of 5</span>
				      <h1 class="govuk-fieldset__heading">
					      Was the applicant solely responsible for assessing and reporting on the progress of the students?
				      </h1>
			      </legend>
			      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
				      <div class="govuk-radios__item">
					      <input class="govuk-radios__input" id="question-student-assessment" name="question-student-assessment" type="radio" value="Yes" {{ checked("question-student-assessment", "Yes") }}>
					      <label class="govuk-label govuk-radios__label" for="question-student-assessment">
						      Yes
					      </label>
				      </div>
				      <div class="govuk-radios__item">
					      <input class="govuk-radios__input" id="question-student-assessment-2" name="question-student-assessment" type="radio" value="No" {{ checked("question-student-assessment", "No") }}>
					      <label class="govuk-label govuk-radios__label" for="question-student-assessment-2">
						      No
					      </label>
				      </div>
			      </div>

		      </fieldset>
	      </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
