{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="question-child-age-range" method="post">

	      <div class="govuk-form-group">
		      <fieldset class="govuk-fieldset" aria-describedby="question-full-time-hint">
			      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				      <span class="govuk-caption-l">Question 2 of 7</span>
			      </legend>

                  {% from "govuk/components/radios/macro.njk" import govukRadios %}
                  {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

                  {% set questionFullTimeIncorrectHtml %}


                  {{ govukTextarea({
                  name: "questionFullTimeIncorrect",
                  id: "questionFullTimeIncorrect",
                  value: data['questionFullTimeIncorrect'],
                  label: {
                  text: "Tell us why you answered ‘No’ to this question.",
                  classes: "govuk-label--s",
                  isPageHeading: false
                  }
                  }) }}

                  {% endset -%}

                  {{ govukRadios({
                  name: "questionFullTime",
                  fieldset: {
                  legend: {
                  html: "Did the applicant normally work more than [30] hours per week in this role?",
                  isPageHeading: True,
                  classes: "govuk-fieldset__legend--l"
                  }
                  },
                  items: [
                  {
                  value: "Yes",
                  text: "Yes",
                  checked: data['questionFullTime']
                  },
                  {
                  value: "No",
                  text: "No",
                  conditional: {
                  html: questionFullTimeIncorrectHtml
                  }
                  }
                  ]
                  }) }}

		      </fieldset>
	      </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
