{# Set some defaults for this page #}
{% set applicantFirstName = 'Isaach' %}
{% set applicantLastName = 'Kaluuya' %}
{% set refereeFullName = 'Joseph Ketengi' %}
{% set refereeJobTitle = 'Headteacher' %}
{% set schoolName = 'Guadalaviar School' %}
{% set startDateMonth = '01' %}
{% set startDateYear = '2020' %}
{% set endDateMonth = '06' %}
{% set endDateYear = '2020' %}

{% extends "layout.html" %}

{% block pageTitle %}
	Check answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Check your answers before submitting your application</h1>

        <div class="govuk-summary-list__card">
            <div class="govuk-summary-list__card-title-wrapper">
                <h2 class="govuk-summary-list__card-title">Further information requested</h2>
            </div>
            <div class="govuk-summary-list__card-content">

                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Your full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ refereeFullName }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Your job title at <span class="variableHighlightColour">{{schoolName}}</span> between <span class="variableHighlightColour">{{ startDateMonth }}/{{ startDateYear }}</span> and <span class="variableHighlightColour">{{ endDateMonth }}/{{ endDateYear }}</span>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ refereeJobTitle }}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Are these details correct?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionRefereeDetails'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href=question-about-you>
                                Change
                                <span class="govuk-visually-hidden">answer to date question</span>
                            </a>
                        </dd>
                    </div>

                    {% if data['refereeDetailsIncorrectName'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Your full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['refereeDetailsIncorrectName'] }}
                        </dd>
                    </div>
                    {% endif %}

                    {% if data['refereeDetailsIncorrectJob'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Your job title
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['refereeDetailsIncorrectJob'] }}
                        </dd>
                    </div>
                    {% endif %}

                    {% if data['refereeDetailsIncorrect'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Tell us why these details are not correct
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['refereeDetailsIncorrect'] }}
                        </dd>
                    </div>
                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
	                        Did the applicant work at the school for the dates they provided?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionDates'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href=question-dates>
                                Change
                                <span class="govuk-visually-hidden">answer to date question</span>
                            </a>
                        </dd>
                    </div>

                    {% if data['questionDatesIncorrect'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Tell us why you answered ‘No’ to this question.
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionDatesIncorrect'] }}
                        </dd>
                    </div>
                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Did the applicant normally work more than 30 hours per week in this job?
                        </dt>
                        <dd class="govuk-summary-list__value">
	                        {{ data['questionFullTime'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="question-full-time">
                                Change
                                <span class="govuk-visually-hidden">answer to full time question</span>
                            </a>
                        </dd>
                    </div>
                    {% if data['questionFullTimeIncorrect'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Tell us why you answered ‘No’ to this question.
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionFullTimeIncorrect'] }}
                        </dd>
                    </div>
                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Did the applicant teach children aged somewhere between 5 and 16 years?
                        </dt>
                        <dd class="govuk-summary-list__value">
	                        {{ data['questionChildAgeRange'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="question-child-age-range">
                                Change
                                <span class="govuk-visually-hidden">answer to child age range question</span>
                            </a>
                        </dd>
                    </div>
                    {% if data['questionChildAgeRangeIncorrect'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Tell us why you answered ‘No’ to this question.
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionChildAgeRangeIncorrect'] }}
                        </dd>
                    </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Did the applicant plan, prepare and deliver lessons to a class of at least 4 students?
                        </dt>
                        <dd class="govuk-summary-list__value">
	                        {{ data['questionChildNumber'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="question-child-number">
                                Change
                                <span class="govuk-visually-hidden">answer to number of children question</span>
                            </a>
                        </dd>
                    </div>
                    {% if data['questionChildNumberIncorrect'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Tell us why you answered ‘No’ to this question.
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionChildNumberIncorrect'] }}
                        </dd>
                    </div>
                    {% endif %}
	                <div class="govuk-summary-list__row">
		                <dt class="govuk-summary-list__key">
                            Was the applicant responsible for assessing and reporting on the progress of the students?
		                </dt>
		                <dd class="govuk-summary-list__value">
			                {{ data['questionStudentAssessment'] }}
		                </dd>
		                <dd class="govuk-summary-list__actions">
			                <a href=question-student-assessment>
				                Change
				                <span class="govuk-visually-hidden">answer responsible for assessments</span>
			                </a>
		                </dd>
	                </div>
                    {% if data['questionStudentAssessmentIncorrect'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Tell us why you answered ‘No’ to this question.
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionStudentAssessmentIncorrect'] }}
                        </dd>
                    </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Do you know of any professional misconduct by the applicant, or any disciplinary action taken against them?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionApplicantMisconduct'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="question-applicant-misconduct">
                                Change
                                <span class="govuk-visually-hidden">answer responsible for assessments</span>
                            </a>
                        </dd>
                    </div>
                    {% if data['questionApplicantMisconductIncorrect'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Tell us why you answered ‘Yes’ to this question.
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionStudentAssessmentIncorrect'] }}
                        </dd>
                    </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Are you satisfied that the applicant is suitable to work with children?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionApplicantSuitable'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="question-applicant-suitable">
                                Change
                                <span class="govuk-visually-hidden">answer responsible for assessments</span>
                            </a>
                        </dd>
                    </div>
                    {% if data['questionApplicantSuitableIncorrect'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Tell us why you answered ‘No’ to this question.
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['questionApplicantSuitableIncorrect'] }}
                        </dd>
                    </div>
                    {% endif %}
	                <div class="govuk-summary-list__row">
		                <dt class="govuk-summary-list__key">
                            Do you have any other concerns about this applicant?
		                </dt>
		                <dd class="govuk-summary-list__value">
			                {{ data['question-other-comments'] }}
		                </dd>
		                <dd class="govuk-summary-list__actions">
			                <a href="question-other-comments">
				                Change
				                <span class="govuk-visually-hidden">answer to any other comments question</span>
			                </a>
		                </dd>
	                </div>
                </dl>
            </div>
        </div>
        <h3 class="govuk-heading-m">How we handle your data</h3>
        <p class="govuk-body">You can read about the data we collect from you, how we use it and how it's stored, in our <a href="https://apply-for-qts-in-england.education.gov.uk/privacy" class="govuk-link">privacy policy</a>.</p>

	    <h4 class="govuk-heading-m">Submitting your response</h4>
        <p class="govuk-body">By selecting the ‘Submit your response’ button, you confirm that, to the best of your knowledge, the details you’ve provided are correct.</p>
        <p class="govuk-body">You will not be able to change your response or delete anything once you submit it.</p>
        <a class="govuk-button" href="reference-requested-submission-complete">Submit your response</a>
    </div>
    {% endblock %}
