{% extends "layout.html" %}

{% block pageTitle %}
	Check answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Check your answers before submitting your application</h1>

        <div class="govuk-summary-list__card">
            <div class="govuk-summary-list__card-title-wrapper">
                <h2 class="govuk-summary-list__card-title">Further information requested</h2>
            </div>
            <div class="govuk-summary-list__card-content">

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
	                        Did the applicant work at the school for the dates that they told us?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['question-dates'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href=question-dates>
                                Change
                                <span class="govuk-visually-hidden">answer to date question</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
	                        Was this a full-time role?
                        </dt>
                        <dd class="govuk-summary-list__value">
	                        {{ data['question-full-time'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="question-full-time">
                                Change
                                <span class="govuk-visually-hidden">answer to full time question</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
	                        Did the applicant work with children aged between 5 and 16 years?
                        </dt>
                        <dd class="govuk-summary-list__value">
	                        {{ data['question-child-age-range'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="question-child-age-range">
                                Change
                                <span class="govuk-visually-hidden">answer to child age range question</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
	                        Was the applicant responsible for at least 4 children in this role?
                        </dt>
                        <dd class="govuk-summary-list__value">
	                        {{ data['question-child-number'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="question-child-number">
                                Change
                                <span class="govuk-visually-hidden">answer to number of children question</span>
                            </a>
                        </dd>
                    </div>

	                <div class="govuk-summary-list__row">
		                <dt class="govuk-summary-list__key">
			                Is there anything else you’d like to tell us about this applicant?
		                </dt>
		                <dd class="govuk-summary-list__value">
			                {{ data['question-other-comments'] }}
		                </dd>
		                <dd class="govuk-summary-list__actions">
			                <a href="question-other-comments">
				                Change
				                <span class="govuk-visually-hidden">answer to any other comments question</span>
			                </a>
		                </dd>
	                </div>
                </dl>
            </div>
        </div>

	    <h3 class="govuk-heading-m">Submitting your response</h3>
        <p class="govuk-body">By selecting the ‘Submit your response’ button, you confirm that, to the best of your knowledge, the details you’ve provided are correct.</p>
        <a class="govuk-button" href="reference-requested-submission-complete">Submit your response</a>
    </div>
    {% endblock %}
