{% extends "wizard.html" %}

{% block pageTitle %}
Do you have a degree? – {{ serviceName }} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		

		<form class="form" action="/policy-uni" method="post" novalidate>

			{{ govukRadios({
			idPrefix: "policy-uni",
			name: "policy-uni",
			fieldset: {
			legend: {
			text: "Do you have a university degree?",
			isPageHeading: true,
			classes: "govuk-fieldset__legend--xl"
			}
			},
			hint: {
			text: "Your degree could include your teaching qualification, or it could be a degree in another subject."
			},
			items: [
			{
			value: "yes",
			text: "Yes"
			
			},
			{
			value: "no",
			text: "No"
			
			}

			]
			}) }}

			

			{{ govukDetails({
			summaryText: "Why we ask this",
			text: "Teaching is a graduate-level profession in England, which means you must be able to show that you’ve
			completed a university degree."
			}) }}

			<button class="govuk-button" data-module="govuk-button">Continue</button>

		</form>

	</div>
</div>

{% endblock %}
