{% extends "layout.html" %}
{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
	  <strong class="govuk-tag govuk-phase-banner__content__tag">
		Prototype
	  </strong>
	  <span class="govuk-phase-banner__text">
		This is a prototype of a new service.  <a class="govuk-link" href="subject-calculator-uni">Change view</a>.
	  </span>
	</p>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="/policy-uni-percentage" method="post" novalidate>
		

			<h1 class="govuk-heading-xl">How much of your university degree focused on {{ data['subject-select'] }}?</h1>

			<p>
				Check your teaching qualification transcript to calculate what percentage of modules focused on {{ data['subject-select'] }}.
			</p>

			<p>
				Choose one of the following:
			</p>

			{{ govukRadios({
				idPrefix: "policy-uni-percentage",
				name: "policy-uni-percentage",
				fieldset: {
				},
				
				items: [
				{
				value: "less-than-25",
				text: "Less than 25%"
				},
				{
				value: "25-to-50",
				text: "Between 25% to 50%"
				},
				{
					value: "more-than-50",
					text: "More than 50%"
					},
				{
					value: "none",
					text: "I do not know and I do not have my transcript to check"
				}
	
				]
				}) }}

				<p class="govuk-body">
					During the application process all qualifications will be assessed to make sure they meet the subject criteria.
				</p>

	
				{{ govukDetails({
					summaryText: "What is a transcript?",
					text: "A transcript is a document that lists all the modules or subjects you studied in each year of your qualification, and the marks or grades you were awarded."
				  }) }}

			


	<div class="govuk-button-group">
		<button class="govuk-button" data-module="govuk-button">
			Continue
		</button>
		<a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
	</div>
</form>

			

	</div>
</div>

{% endblock %}

