{% extends "layout.html" %}

{% block pageTitle %}
  Further information submitted successfully – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Further information successfully submitted
          </h1>
        </div>

        <h3 class="govuk-heading-m">You’ve successfully submitted your further information</h3>

        <p class="govuk-body">We’ve sent you an email to confirm that we’ve received it.</p>

        <p class="govuk-body">Once the assessor has checked the documents to make sure you’ve provided all of the requested information, they’ll continue reviewing your QTS application.</p>

        <p class="govuk-body">You can now close this page.</p>

      </div>
    </div>
  </main>
</div>

{% endblock %}
