{% extends "layout.html" %}

{% block pageTitle %}
  Sign in – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <form class="form" action="start" method="post">
      <fieldset class="govuk-fieldset" data-module="clear-hidden">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">
                  Sign in
          </h2>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="account-email">
            Email address
          </label>
          <div id="account-email-hint" class="govuk-hint">
            Enter the email address you used to register, and we'll send you a link to sign in.
          </div>
          <input class="govuk-input govuk-!-width-two-thirds" id="account-email" name="account[email]" type="email" aria-describedby="account-email-hint" autocomplete="email" spellcheck="false">
        </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>




      </fieldset>
    </div>
  </div>

{% endblock %}
