{% extends "layout.html" %}

{% block pageTitle %}
	Question - Citizenship of exempt country – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/exempt-country-citizenship" method="post">

	      <div class="govuk-form-group">
		      <fieldset class="govuk-fieldset">
			      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				      <span class="govuk-caption-xl">Your qualifications</span>
				      <h1 class="govuk-fieldset__heading">
					      Were you born in or hold citizenship of any of the countries below?
				      </h1>
			      </legend>
			      <p class="govuk-body">If you were born in, or hold citizenship of any of the following countries, you’re exempt from English language requirements.</p>

			      <p class="govuk-body">You’ll need to provide a passport or other official form of identification. You can do this in the ‘About you’ section of the application form.</p>

			      <div class="govuk-grid-row">
				      <div class="govuk-grid-column-one-half">
					      <ul class="govuk-list govuk-list--bullet">
						      <li>Antigua and Barbuda</li>
						      <li>Australia</li>
						      <li>The Bahamas</li>
						      <li>Barbados</li>
						      <li>Belize</li>
						      <li>Canada</li>
						      <li>Dominica</li>
						      <li>Grenada</li>
						      <li>Guyana</li>
						      <li>Jamaica</li>
						      <li>Ireland</li>
					      </ul>
				      </div>
				      <div class="govuk-grid-column-one-half">
					      <ul class="govuk-list govuk-list--bullet">
						      <li>Malta</li>
						      <li>New Zealand</li>
						      <li>St Kitts and Nevis</li>
						      <li>St Lucia</li>
						      <li>St Vincent and the Grenadines</li>
						      <li>Trinidad and Tobago</li>
						      <li>USA</li>
						      <li>England</li>
						      <li>Scotland</li>
						      <li>Northern Ireland</li>
						      <li>Wales</li>
					      </ul>
				      </div>
			      </div>
			      <div class="govuk-radios" data-module="govuk-radios">
				      <div class="govuk-radios__item">
					      <input class="govuk-radios__input" id="exempt-country-citizenship" name="exempt-country-citizenship" type="radio" value="Yes" {{ checked("exempt-country-citizenship", "Yes") }}>
					      <label class="govuk-label govuk-radios__label" for="exempt-country-citizenship">
						      Yes
					      </label>
				      </div>
				      <div class="govuk-radios__item">
					      <input class="govuk-radios__input" id="exempt-country-citizenship-2" name="exempt-country-citizenship" type="radio" value="No" {{ checked("exempt-country-citizenship", "No") }}>
					      <label class="govuk-label govuk-radios__label" for="exempt-country-citizenship-2">
						      No, I’ll show my English language ability using another method
					      </label>
				      </div>
			      </div>
		      </fieldset>
	      </div>

	      <div class="govuk-button-group">
		      <button class="govuk-button" data-module="govuk-button" name="completed-english-proficiency" value="completed-english-proficiency">
			      Continue
		      </button>

		      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit"
		              name="progress-verify-english-proficiency" value="progress-verify-english-proficiency"
		              formaction="/prototype-3/task-list">
			      Save and come back later
		      </button>
	      </div>
      </form>

    </div>
  </div>

{% endblock %}
