{% extends "layout.html" %}

{% block pageTitle %}
Upload your English language proficiency certificate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">Check your uploaded files &#8211; English language proficiency certificate</h1>

		<h2 class="govuk-heading-m">Files added</h2>

		<dl class="govuk-summary-list">

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					File 1
				</dt>
				<dd class="govuk-summary-list__value">
					<a download href="/" class="govuk-link">english-proficiency-certificate.pdf</a>
				</dd>

				<dd class="govuk-summary-list__actions">

					<a class="govuk-link" href="#">
						Delete<span class="govuk-visually-hidden"> file 1</span>
					</a>

				</dd>

			</div>

		</dl>

		<form class="form" action="/upload-english-proficiency-certificate-answer" method="post">
			{% from "govuk/components/button/macro.njk" import govukButton %}
			{% from "govuk/components/radios/macro.njk" import govukRadios %}

			{{ govukRadios({
			idPrefix: "another-english-proficiency-certificate",
			name: "another-english-proficiency-certificate",
			fieldset: {
			legend: {
			text: "Do you need to upload another page?",
			classes: "govuk-fieldset__legend--m"
			}
			},
			hint: {
			text: "If your English language proficiency certificate has several pages, you can upload them here.
			Otherwise, select ‘No’ and then
			‘Continue’."
			},
			items: [
			{
			value: "Yes",
			text: "Yes"
			},
			{
			value: "No",
			text: "No"
			}
			]
			}) }}

			{{ govukButton({ text: 'Continue', name:'completed-verify-english-proficiency',
			value:'completed-verify-english-proficiency' }) }}
		</form>
	</div>
</div>

{% endblock %}
