{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- <form class="form" action="question-degree-study-period-end" method="post"> -->
        <form class="form" action="qualifications-summary" method="post">
        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "degreeStartDate",
          namePrefix: "degreeStartDate",
          fieldset: {
            legend: {
              text: "When did you start your degree?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 31 3 1980"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data["degreeStartDate-day"]
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data["degreeStartDate-month"]
            },
            {
              name: "year",
              classes: "govuk-input--width-2",
              value: data["degreeStartDate-year"]
            }
          ]
        }) }}

      

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
    
  </div>

{% endblock %}
