{% extends "layout.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

<!-- The validation error messages are being removed for the time being as it's not easy to trigger them when the virus scanner deletes a document from the database -->
<!--        <div class="govuk-error-summary" data-module="govuk-error-summary">-->
<!--            <div role="alert">-->
<!--                <h2 class="govuk-error-summary__title">-->
<!--                    There was a problem with your file-->
<!--                </h2>-->
<!--                <div class="govuk-error-summary__body">-->
<!--                    <ul class="govuk-list govuk-error-summary__list">-->
<!--                        <li>-->
<!--                            <a href="#">You’ll need to take another image of the document you want to upload, then try again. </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

		<h1 class="govuk-heading-l">Check your uploaded files</h1>

		<h2 class="govuk-heading-m">Files added</h2>

		<dl class="govuk-summary-list">

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					File 1
				</dt>
				<dd class="govuk-summary-list__value">
                    <!-- Document filename is removed as part of the virus scan so we need to replace with a placeholder -->
					<a href="/scamps/virus-scan/suspect.html" class="govuk-link">File upload error</a>
                    <p  class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> There was a problem with this file
                    </p>
				</dd>

				<dd class="govuk-summary-list__actions">

					<a class="govuk-link" href="#">
						Delete<span class="govuk-visually-hidden"> file 1</span>
					</a>

				</dd>

			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					File 2
				</dt>
				<dd class="govuk-summary-list__value">
					<a download href="/" class="govuk-link">marriagecertificate.jpg</a>
				</dd>

				<dd class="govuk-summary-list__actions">

					<a class="govuk-link" href="#">
						Delete<span class="govuk-visually-hidden"> file 2</span>
					</a>

				</dd>

			</div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    File 3
                </dt>
                <dd class="govuk-summary-list__value">
                    <a download href="/" class="govuk-link">birthcertificate.jpg</a>
                </dd>

                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link" href="#">
                        Delete<span class="govuk-visually-hidden"> file 2</span>
                    </a>

                </dd>

            </div>

		</dl>

		<form class="form" action="/prototype-3/task-list" method="post">
			{% from "govuk/components/button/macro.njk" import govukButton %}
			{% from "govuk/components/radios/macro.njk" import govukRadios %}

			{{ govukRadios({
			idPrefix: "another-identification",
			name: "another-identification",
			fieldset: {
			legend: {
			text: "Do you need to upload another page?",
			classes: "govuk-fieldset__legend--m"
			}
			},
			hint: {
			text: "If your ID document has several pages, you can upload them here. Otherwise, select ‘No’ and then
			‘Continue’."
			},
			items: [
			{
			value: "Yes",
			text: "Yes"
			},
			{
			value: "No",
			text: "No"
			}
			]
			}) }}

			{{ govukButton({ text: 'Continue' }) }}
		</form>
	</div>
</div>

{% endblock %}
