{% extends "layout.html" %}

{% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">
        Teacher training and qualifications
      </span>

		<h1 class="govuk-heading-xl">Check your answers</h1>

		<dl class="govuk-summary-list govuk-!-margin-bottom-9">

			<!-- Teacher training qualification subjects trained to teach -->
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Type and subject
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['degreeTitle'] }}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a href="question-degree-title">
						Change
						<span class="govuk-visually-hidden">Type and subject</span>
					</a>
				</dd>
			</div>

			<!-- Teacher training qualification subjects trained to teach -->
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Name of institution
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['degreeInstitutionName'] }}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a href="question-name-degree-institution">
						Change
						<span class="govuk-visually-hidden">Name of institution</span>
					</a>
				</dd>
			</div>

			<!-- Teacher training qualification subjects trained to teach -->
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Country of institution
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['degreeInstitutionCountry'] }}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a href="question-degree-country-institution">
						Change
						<span class="govuk-visually-hidden">Country of institution</span>
					</a>
				</dd>
			</div>

			<!-- Teacher training qualification subjects trained to teach -->
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Start date
				</dt>
				<dd class="govuk-summary-list__value">
					<span>{{ data['degreeStartDate-month'] }} </span> / <span>{{ data['degreeStartDate-year'] }}</span>
				</dd>
				<dd class="govuk-summary-list__actions">
					<a href="question-degree-study-period">
						Change
						<span class="govuk-visually-hidden">Degree start date</span>
					</a>
				</dd>
			</div>

			<!-- Teacher training qualification subjects trained to teach -->
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Completion date
				</dt>
				<dd class="govuk-summary-list__value">
					<span>{{ data['degreeEndDate-month'] }} </span> / <span>{{ data['degreeEndDate-year'] }}</span>
				</dd>
				<dd class="govuk-summary-list__actions">
					<a href="question-degree-study-period">
						Change
						<span class="govuk-visually-hidden">Degree end date</span>
					</a>
				</dd>
			</div>

			<!-- Teacher training qualification subjects trained to teach -->
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Certificate date
				</dt>
				<dd class="govuk-summary-list__value">
					<span>{{ data['degreeAwardDate-month'] }} </span> / <span>{{ data['degreeAwardDate-year'] }}</span>
				</dd>
				<dd class="govuk-summary-list__actions">
					<a href="question-degree-study-period">
						Change
						<span class="govuk-visually-hidden">Degree award date</span>
					</a>
				</dd>
			</div>

		</dl>

		{% from "govuk/components/button/macro.njk" import govukButton %}
		{% from "govuk/components/radios/macro.njk" import govukRadios %}

		<form action="/prototype-3/task-list" method="post" novalidate>

			{{ govukRadios({
			idPrefix: "completed-degree",
			name: "completed-degree",
			fieldset: {
			legend: {
			text: "Have you completed this section?",
			isPageHeading: false,
			classes: "govuk-fieldset__legend--m"
			}
			},
			items: [
			{
			value: "Yes",
			text: "Yes"
			},
			{
			value: "No",
			text: "No, I will come back to it later"
			}
			]
			}) }}

			{{ govukButton({
			text: "Continue"
			}) }}

		</form>

	</div>
</div>
{% endblock %}
