{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Your qualifications</span>
      <h1 class="govuk-heading-l">Check your answers</h1>


      <h2 class="govuk-heading-m">About your university degree</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <!-- University degree title -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            University degree title
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['degreeTitle'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="degree-details">
                Change
                  <span class="govuk-visually-hidden">university degree title</span>
              </a>
            </dd>
          </div>

        <!-- University name -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Institution name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['degreeInstitutionName'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="degree-details">
              Change
                <span class="govuk-visually-hidden">institution name</span>
            </a>
          </dd>
        </div>

        <!-- Institution country -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of institution
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['degreeInstitutionCountry'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="degree-details">
              Change
              <span class="govuk-visually-hidden">country of institution</span>
            </a>
          </dd>
        </div>

        <!-- Degree start date -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            <span>{{ data['degreeStartDate-month'] }} </span> / <span>{{ data['degreeStartDate-year'] }}</span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="degree-details">
              Change
                <span class="govuk-visually-hidden">start date</span>
            </a>
          </dd>
        </div>

        <!-- Degree completion date -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Completion date
          </dt>
          <dd class="govuk-summary-list__value">
            <span>{{ data['degreeEndDate-month'] }} </span> / <span>{{ data['degreeEndDate-year'] }}</span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="degree-details">
              Change
              <span class="govuk-visually-hidden">completion date</span>
            </a>
          </dd>
        </div>

        <!-- Certificate date -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Certificate date
          </dt>
          <dd class="govuk-summary-list__value">
            <span>{{ data['certificateDate-month'] }} </span> / <span>{{ data['certificateDate-year'] }}</span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="degree-details">
              Change
              <span class="govuk-visually-hidden">certificate date</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="../../task-list" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Have you completed this section?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="completed-degree" name="completed-degree" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="completed-degree">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="completed-degree-2" name="completed-degree" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="completed-degree-2">
                  No, I will come back to it later
                </label>
              </div>
            </div>

          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}
