{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">

		<span class="govuk-caption-l">Your qualifications</span>
		<h1 class="govuk-heading-l">Check your answers</h1>

		<div class="govuk-summary-list__card">
			<div class="govuk-summary-list__card-title-wrapper">
				<h2 class="govuk-summary-list__card-title">Your university degree</h2>
				<div class="govuk-summary-list__card-actions">
					<!--            <ul class="govuk-summary-list__card-actions-list">-->
					<!--              <li class="govuk-summary-list__card-actions-list-item"><a class="govuk-link" href="#">Delete-->
					<!--                choice<span class="govuk-visually-hidden"> your university degree</span> </a></li>-->
					<!--              <li class="govuk-summary-list__card-actions-list-item"><a class="govuk-link" href="#">-->
					<!--                Withdraw<span class="govuk-visually-hidden"> your university degree</span> </a></li>-->
					<!--            </ul>-->
				</div>
			</div>
			<div class="govuk-summary-list__card-content">
				<dl class="govuk-summary-list govuk-!-margin-bottom-9">

					<!-- University degree title -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							University degree title
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['degreeTitle'] }}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a href="degree-details">
								Change
								<span class="govuk-visually-hidden">university degree title</span>
							</a>
						</dd>
					</div>

					<!-- University name -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Institution name
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['degreeInstitutionName'] }}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a href="degree-details">
								Change
								<span class="govuk-visually-hidden">institution name</span>
							</a>
						</dd>
					</div>

					<!-- Institution country -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Country of institution
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['degreeInstitutionCountry'] }}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a href="degree-details">
								Change
								<span class="govuk-visually-hidden">country of institution</span>
							</a>
						</dd>
					</div>

					<!-- Degree start date -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Start date
						</dt>
						<dd class="govuk-summary-list__value">
							<span>{{ data['degreeStartDate-month'] }} </span> /
							<span>{{ data['degreeStartDate-year'] }}</span>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a href="degree-details">
								Change
								<span class="govuk-visually-hidden">start date</span>
							</a>
						</dd>
					</div>

					<!-- Degree completion date -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Completion date
						</dt>
						<dd class="govuk-summary-list__value">
							<span>{{ data['degreeEndDate-month'] }} </span> /
							<span>{{ data['degreeEndDate-year'] }}</span>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a href="degree-details">
								Change
								<span class="govuk-visually-hidden">completion date</span>
							</a>
						</dd>
					</div>

					<!-- Certificate date -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Certificate date
						</dt>
						<dd class="govuk-summary-list__value">
							<span>{{ data['certificateDate-month'] }} </span> /
							<span>{{ data['certificateDate-year'] }}</span>
						</dd>
						<dd class="govuk-summary-list__actions">
							<a href="degree-details">
								Change
								<span class="govuk-visually-hidden">certificate date</span>
							</a>
						</dd>
					</div>

					<!-- University degree certificate? -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							University degree certificate
						</dt>
						<dd class="govuk-summary-list__value">
							degree_certificate.pdf
						</dd>
						<dd class="govuk-summary-list__actions">
							<a href="../undergraduate-degree-documents/upload-degree-certificate">
								Change
								<span class="govuk-visually-hidden">university degree certificate certificate</span>
							</a>
						</dd>
					</div>

					<!-- University degree certificate? -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							University degree transcript
						</dt>
						<dd class="govuk-summary-list__value">
							degree_transcript.pdf
						</dd>
						<dd class="govuk-summary-list__actions">
							<a href="../undergraduate-degree-documents/upload-degree-transcript">
								Change
								<span class="govuk-visually-hidden">university degree certificate transcript</span>
							</a>
						</dd>
					</div>
				</dl>
			</div>
		</div>
		<form action="/prototype-3/qualifications/teacher-training-qualification/teacher-training-qualification-add-another-2"
		      method="post" novalidate>
			<button class="govuk-button" data-module="govuk-button" name="completed-degree" value="completed-degree">
				Continue
			</button>
		</form>
	</div>
</div>
{% endblock %}
