{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/evidence-professional-standing-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "evidence-professional-standing",
          name: "evidence-professional-standing",
          fieldset: {
            legend: {
              text: "How will you prove your professional status as a teacher?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Online Portal",
              text: "By using the online portal for regulating teachers in my country ",
              checked: checked("evidence-professional-status", "Online Portal")
            },
            {
              value: "Letter of professional standing",
              text: "I have a letter of professional standing from the organisation that regulates teachers in my country ",
              checked: checked("evidence-professional-status", "Letter of professional standing")
            },
            {
              value: "I cannot provide evidence",
              text: "I cannot prove my professional status because there is not an organisation responsible for regulating teachers in my country ",
              checked: checked("wevidence-professional-status", "I cannot provide evidence")
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
