{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/reference-number-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "reference-number",
          name: "reference-number",
          fieldset: {
            legend: {
              text: "Do you have a teacher reference number?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes Reference Number",
              text: "Yes, I have a teacher reference number",
              checked: checked("reference-number", "Yes Reference Number")
            },
            {
              value: "No Reference Number",
              text: "No, I don't have a teacher reference number, you can find me using my name",
              checked: checked("reference-number", "No Reference Number")
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
