{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Upload a letter of profesisonal standing (and translation if not in English)</h1>

      <div id="" class="govuk-hint">
        A letter of professional standing will confirm qualification of teacher, level of teaching, teaching subjects and any misconduct or convictions. The letter must be written in English. If it is not written in English, you will need a translation and upload both versions.
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to get this
          </span>
        </summary>
        <div class="govuk-details__text">
          You can request a letter of prefessional standing from:
          <br><br>
          Teachers Registration Council of Nigeria (TRCN), 12 Oda Crescent, Off Aminu Kano Crescent, Wuse 2, PMB 526, Garki, Abuja, Nigeria
          Email Dr Jacinta Ogboso-Omotepe on jacyunn@yahoo.com
        </div>
      </details>

      <form class="form" action="professional-standing-summary" method="post">


        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="file-upload-1">
            Select a file to upload
          </label>
          <p id="file-upload-1-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> No file selected
          </p>
          <a href="upload-lops-2" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="lopsFile" value="letterofprofessionalstanding.jpg">Choose file</a>
          <span class="govuk-body" style="position:relative;top:7px">No file uploaded</span>
        </div>


        <div class="govuk-button-group">
          <a class="govuk-button" style="text-decoration: none;" href="upload-lops-error">
            Upload and continue
          </a>
        
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="lopsFile" value="">
            Add this later
          </button>

        </div>
        
      </form>

    </div>
  </div>

{% endblock %}
