{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Upload another document</h1>

      <form class="form" action="upload-lopsb-3" method="post">


        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Select a file to upload
          </label>
          <a href="upload-lops-2" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="Fillopse" value="letter-translation.jpg">Choose file</a>
          <span class="govuk-body" style="position:relative;top:7px">letter-translation.jpg</span>
        </div>


        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" name="lopsFile2" value="letter-translation.jpg">
            Upload and continue
          </button>
        
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="lopsFile2" value="">
            Add this later
          </button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
