{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Professional standing
      </span>
      
      <h1 class="govuk-heading-l">Upload a letter of professional standing (and translation if not in English)</h1>

      <p>This will be a letter to confirm:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your teaching qualification 
        <li>your level of teaching</li>
        <li>the subjects you teach</li>
        <li>any misconduct or convictions</li>
          </li>
      </ul>
      <p>The letter must be written in English. If it is not written in English, you will need to upload a certified translation.
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to get this
          </span>
        </summary>
        <div class="govuk-details__text">
          You can request a letter of professional  standing from:
          <br><br>
          Teachers Registration Council of Nigeria (TRCN), 12 Oda Crescent, Off Aminu Kano Crescent, Wuse 2, PMB 526, Garki, Abuja, Nigeria
          Email Dr Jacinta Ogboso-Omotepe on jacyunn@yahoo.com
        </div>
      </details>

      <form class="form" action="upload-lops-3" method="post">


        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Select a file to upload
          </label>
          <a href="upload-lops-2" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="Fillopse" value="letterofprofessionalstanding.jpg">Choose file</a>
          <span class="govuk-body" style="position:relative;top:7px">letterofprofessionalstanding.jpg</span>
        </div>


        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" name="lopsFile" value="letterofprofessionalstanding.jpg">
            Upload and continue
          </button>
        
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add this later
          </button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
