{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Your QTS application was successful – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your QTS application was successful
      </h1>

      <p class="govuk-body">As someone with qualified teacher status, you’ve been assigned a teacher reference number (TRN).</p>

      <p class="govuk-body">Your TRN is:</p>

      <p class="govuk-body" style="color: #d4351c">[TRN]</p>

      <h2 class="govuk-heading-s">Next steps</h2>

      <p class="govuk-body">To download a PDF of your QTS certificate and find your date of recognition, visit:</p>

      <p class="govuk-body"><a href="https://www.gov.uk/guidance/teacher-self-service-portal" class="govuk-link">https://www.gov.uk/guidance/teacher-self-service-portal</a></p>

      <h3 class="govuk-heading-s">Find out more about teaching in England</h3>

      <p class="govuk-body">There’s more information about coming to teach in England, including details about visas and immigration, in the <a href="https://www.gov.uk/government/publications/teach-in-england-if-you-qualified-outside-the-uk/teach-in-england-if-you-qualified-outside-the-uk" class="govuk-link">Department for Education’s guidance for teachers who qualified outside the UK</a>.</p>

      <h4 class="govuk-heading-s">Search for a job in teaching</h4>

      <p class="govuk-body">You can search for a teaching job using <a href="https://teaching-vacancies.service.gov.uk" class="govuk-link">Teaching Vacancies</a>. It’s the official government service that schools use to list their teaching roles. You can also sign up to alerts for the latest jobs matching your key search criteria.</p>

      <h5 class="govuk-heading-s">Get support with your application</h5>

      <p class="govuk-body">If you’re applying for a secondary school maths, physics or modern foreign languages teaching role in England, use the Get into Teaching service for one-to-one support with your application through <a href="https://adviser-getintoteaching.education.gov.uk" class="govuk-link">Get an adviser</a>.</p>

      <p class="govuk-body">Your adviser can help with writing a personal statement, preparing for an interview and accessing courses to enhance your subject knowledge.</p>

      <p class="govuk-body">Kind regards,</p>

      <p class="govuk-body govuk-!-font-weight-bold">The Teaching Regulation Agency<br>(an executive agency sponsored by the Department for Education, England)</p>
    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>
{% endblock %}
