{% extends "wizard.html" %}

{% block pageTitle %}
  You're not eligible – {{ serviceName }} prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You’re not eligible to apply for qualified teacher status (QTS) in England
      </h1>

      <p class="govuk-body">This is because teachers with qualifications from this country are not eligible under current legislation.</p>
      
      <p class="govuk-body">You can find out how to train to become a teacher in England by visiting the <a href="https://getintoteaching.education.gov.uk/non-uk-teachers">Get into Teaching service</a>.</p>

      <p class="govuk-body">The Department for Education is currently reviewing who can apply for qualified teacher status. If you’d like to help us with our research, or if you have any questions contact the help team at:</p>
      <p class="govuk-body"><a class="govuk-link" href="mailto:qts.enquiries@education.gov.uk">qts.enquiries@education.gov.uk</a></p>
    </div>
  </div>

{% endblock %}
