{% extends "layout.html" %}

{% block pageTitle %}
You might be eligible to apply for QTS – {{ serviceName }} prototype
{% endblock %}

{% block pageNavigation %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Qualified teacher status (QTS): English language test</h1>

        <p class="govuk-body-lead">How to provide an English language test as part of your QTS application that will meet all the requirements.</p>

        <h2 class="govuk-heading-m">What your English language test must show</h2>

        <p class="govuk-body">For QTS, the test must be a ‘Secure English Language test’ (SELT). That means it was taken:</p>


        <ul class="govuk-list govuk-list--bullet">
            <li>with an approved provider</li>
            <li>at an approved test location</li>
            <li>within the last 2 years</li>
        </ul>

        <p class="govuk-body">Your test must be at level B2 or above of the <a href="https://www.coe.int/en/web/common-european-framework-reference-languages/level-descriptions" class="govuk-link">Common European Framework of Reference for Languages (CEFR)</a>.

        <h3 class="govuk-heading-m">Approved providers and tests</h3>

        <p class="govuk-body">The Teaching Regulation Authority (TRA) recognises 5 approved SELT providers for QTS.</p>

        <p class="govuk-body">Each provider offers a number of different tests, so it’s important to understand which ones we can accept.</p>

        <p class="govuk-body">You’ll also need to know your provider’s required scores for the 4 disciplines of:</p>
        
        <ul class="govuk-list govuk-list--bullet">
            <li>listening</li>
            <li>speaking</li>
            <li>reading</li>
            <li>writing</li>
        </ul>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Approved providers and tests</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Approved provider name</th>
                <th scope="col" class="govuk-table__header">Tests we can accept</th>
                <th scope="col" class="govuk-table__header">Required scores</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="https://www.ielts.org/for-test-takers/book-a-test" class="govuk-link">IELTS SELT Consortium</a></td>
                <td class="govuk-table__cell">‘IELTS for UKVI’ or ‘IELTS Life Skills’</td>
                <td class="govuk-table__cell">
                    Listening: 5.5
                    Speaking: 5.5
                    Reading: 5.5
                    Writing: 5.5
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="https://selt.languagecert.org/" class="govuk-link">LanguageCert</a></td>
                <td class="govuk-table__cell">‘LanguageCert International ESOL SELT’</td>
                <td class="govuk-table__cell">
                    Listening: 33/50
                    Speaking: 33/50
                    Reading: 33/50
                    Writing: 33/50
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="https://pearsonpte.com/" class="govuk-link">Pearson</a></td>
                <td class="govuk-table__cell">‘PTE Academic UKVI’ or ‘PTE Home’</td>
                <td class="govuk-table__cell">
                    Listening: 59
                    Speaking: 59
                    Reading: 59
                    Writing: 59
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="https://www.skillsforenglish.com/" class="govuk-link">PSI Services</a></td>
                <td class="govuk-table__cell">‘Skills for English UKVI’</td>
                <td class="govuk-table__cell">
                    Listening: Pass
                    Speaking: Pass
                    Reading: Pass
                    Writing: Pass
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="https://www.trinitycollege.com/qualifications/SELT/UKVI" class="govuk-link">Trinity College London</a></td>
                <td class="govuk-table__cell">‘Secure English Language Tests for UKVI’ – Integrated Skills in English (ISE) or Graded Examinations in Spoken English (GESE)</td>
                <td class="govuk-table__cell">
                    Listening: Pass
                    Speaking: Pass
                    Reading: Pass
                    Writing: Pass
                </td>
            </tr>
            </tbody>
        </table>

        <div class="govuk-inset-text">
            If you’re already in the UK when you book your SELT, you cannot use PSI Services (UK) Ltd. If you’re outside the UK, you cannot use Trinity College London.
          </div>

        <h4 class="govuk-heading-m">Deciding which test is right for you</h4>

        <p class="govuk-body">We cannot recommend which of the approved providers is right for you. Prices and locations vary between providers, so you’ll need to research costs, as well as the availability of an approved test location near you.

        <h5 class="govuk-heading-m">About other SELT providers</h5>

        <p class="govuk-body">The TRA does not recognise any other providers or SELTS at the moment. If they do so in future, those providers and tests will also be listed on this page.

        <p class="govuk-body">If you plan to use your SELT for a Skilled Worker visa, you must use one of the 5 approved providers listed on this page. No future providers or tests will be accepted for this purpose.

        <h6 class="govuk-heading-m">Providing evidence of your SELT</h6>

        <p class="govuk-body">The QTS application form will ask you to provide the reference number for your SELT. The approved providers use different names for these numbers. These are:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>IELTS SELT Consortium – &lsquo;Test Report Form Number&rsquo;</li>
            <li>LanguageCert – &lsquo;Unique Reference Number&rsquo;</li>
            <li>Pearson – &lsquo;Score Report Code&rsquo;</li>
            <li>PSI Services (UK) Ltd – &lsquo;Unique Reference Number&rsquo;</li>
            <li>Trinity College London – &lsquo;Certificate Number&rsquo;</li>
        </ul>

        <p class="govuk-body">You do not need to upload any documents. The QTS assessor will check your reference number on your chosen provider's website.</p>
</div>
</div>

{% endblock %}
