
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Teacher workforce division - professional recognition
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Prototypes</h2>
        <p>
            Prototypes for Teacher workforce division - professional recognition.
        </p>

        <h3 class="govuk-heading-s">Eligibility checker</h3>
        <div id="nationality-hint" class="govuk-hint">
           updated 30/11/2023
          </div>

          <p>EC redesign.</p>

          <p>Latest UR prototype: subject restrictions.</p>
         
        <p>
          <a href="eligibility-checker/screen-index">Full screen index</a>  
        </p>


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <h3 class="govuk-heading-s">Virus scanner</h3>
        <div id="nationality-hint" class="govuk-hint">
           updated 28/09/23
          </div>

        <p>
            All 4 versions can be seen on the <a href="https://lucid.app/lucidspark/886ac30e-3dbb-42d2-b0c0-c900e4661829/edit?beaconFlowId=7368A1FAE438A53F&invitationId=inv_d2f9bfa8-509d-4982-a678-11fe7a7bbe75&page=0_0#">Lucid board</a>.
            <br>
            V2 and V4 do not have an interactive prototype. Pages may not be linked together, use the index below to navigate. 

        </p>

        <p>V1</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="virus-scanner/personal-documents/upload-identification">Start page (upload ID)</a>
            </li>
            <li>
                <a href="virus-scanner/personal-documents/upload-loading">Loading spinner</a>
            </li>
            <li>
                <a href="virus-scanner/personal-documents/another-page">Add another page</a>
            </li>

        </ul> 

        <p>V3</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="virus-scanner/personal-documents/upload-identification-v3">Upload ID (nothing uploaded)</a>
            </li>
            <li>
                <a href="virus-scanner/personal-documents/upload-identification-v3-1doc">1 document uploaded</a>
            </li>
            <li>
                <a href="virus-scanner/personal-documents/upload-identification-v3-2docs">Upload another (1 document uploaded)</a>
            </li>
            <li>
                <a href="virus-scanner/personal-documents/upload-identification-v3-after">2 documents uploaded</a>
            </li>

        </ul>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-s">Eligibility checker</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="/prototype-1/check-eligibility/start-eligibility">Check eligibility</a>
                <ul>
                    <li><a href="/english-language-guidance">English language test guidance</a></li>
                    <!-- Previous summary page variations for discussion and testing hidden -->
<!--                    <li>-->
<!--                        <a href="scamps/eligibility-summary-tests/eligible-nested-flat-v2a">Summary page variant: Reduced content (full requirements linked to separately)</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="scamps/eligibility-summary-tests/eligible-nested-flat-v2b">Summary page variant: Full requirements on separate page)</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="scamps/eligibility-summary-tests/eligible-nested-accordion">Summary page variant: Reduced content (nested accordion)</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/prototype-1/check-eligibility/summary-page-lops-sent-direct">Summary page variant: LOPS sent direct to TRA</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/prototype-1/check-eligibility/summary-page-variant">Summary page variant: Previous (Dynamic content)</a>-->
<!--                    </li>-->
                </ul>
            </li>
        </ul>
      <h3 class="govuk-heading-s">Application</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="/prototype-3/create-account-sign-in">Complete application</a>
                <ul>
                    <li>
                        <a href="/prototype-3/professional-standing/lops-sent-direct-to-tra">LOPS upload variant: LOPS sent direct to TRA</a>
                    </li>
                    <li>
                        <a href="/scamps/virus-scan/pending">Document virus check: Pending</a>
                    </li>
                    <li>
                        <a href="/scamps/virus-scan/suspect">Document virus check: Suspicious</a>
                    </li>
                    <li>
                        <a href="/scamps/virus-scan/upload-identification-b-3">Document list virus check: Suspicious</a>
                    </li>
                    <li>
                        <a href="/scamps/virus-scan/application-check-submission">Check your application: Virus flag</a>
                    </li>
                </ul>
            </li>
        </ul>
      <h3 class="govuk-heading-s">Requesting information</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="/further-information-requested/further-information-email">Further information requested from applicant</a>
            </li>
            <li>
                <a href="/reference-requested/reference-requested-email">Reference requested from third party</a>
            </li>
        </ul>
      <h3 class="govuk-heading-s">QTS decision made</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="/qts-awarded/email-example-awarded">QTS Awarded</a>
            </li>
            <li>
                <a href="/qts-declined/email-example-decline">QTS Declined</a>
                <ul>
                    <li><a href="/qts-declined/start-sanctions">Sanctions copy variant</a></li>
                </ul>
            </li>
        </ul>
        <h3 class="govuk-heading-s">'Not a job offer' content example</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Start page
                <ul>
                    <li><a href="/scamps/clarify-not-job-offer/start-paragraph-style">Paragraph style</a></li>
                    <li><a href="/scamps/clarify-not-job-offer/start-warning-style">Warning style</a></li>
                </ul>
            </li>
            <li>Application submitted page
                <ul>
                    <li><a href="/scamps/clarify-not-job-offer/complete-paragraph-style">Paragraph style</a></li>
                    <li><a href="/scamps/clarify-not-job-offer/complete-warning-style">Warning style</a></li>
                </ul>
            </li>
        </ul>
    </div>
  </div>

{% endblock %}
